[2018-06-12 16:25] andymckay opened #6 "Equivalence to existing DVCS Connector"
The existing DVCS Connector is [documented here](https://confluence.atlassian.com/adminjiracloud/connect-jira-cloud-to-github-814188429.html).

- [x] Allows users viewing a JIRA ticket to see URLs of associated GitHub data : Pull Requests, Commits, Branches.
- [x] Enables JIRA [smart commits]() from specific actions in GitHub - commit messages
  - [x] Supports specific keywords from GitHub or Git

[2018-06-12 16:27] andymckay opened #7 "Implementation (required)"
- [x] Use the new JIRA API endpoints
- [x] Adhere to rate limits to keep GitHub Enterprise stable and responsive
- [x] GitHub - JIRA configuration pages.

[2018-06-12 16:28] andymckay opened #8 "Implementation (optional parts)"
- [ ] Linkifies JIRA identifiers `[SENG-1234]` in GitHub UI - Commit Messages, Reviews, Issues and Pull Requests
- [ ] Linkifies JIRA identifiers `[SENG-1234]` in GitHub notifications - email digest
- [x] Associates JIRA project to 1 or more GitHub repositories
- [x] Associates one GitHub repository with 1 or more JIRA projects

[2018-06-12 16:29] andymckay opened #9 "Configuration (required)"
- [x] Allows users to specify which repositories to [synchronize with JIRA](https://confluence.atlassian.com/adminjiracloud/connect-jira-cloud-to-github-814188429.html#ConnectJiraCloudtoGitHub-Automaticsynchronizationandtemporarilydisablingalink)

[2018-06-12 16:30] andymckay opened #10 "Configuration (optional)"
- [ ] Allows GitHub Enterprise instances to integrate with JIRA Enterprise

[2018-06-12 16:32] andymckay opened #11 "Other random ideas"
A list of other ideas, none of which are required for V1.

- [ ] Creates a branch in GitHub from a JIRA ticket
- [ ] Displays Pull Request 'state' in JIRA - [open, closed], is mergeable, are all CI passing, state of reviews
- [ ] Modifies a Pull Request in GitHub from a JIRA ticket - Merge, Close
- [ ] Orchestrates branches or releases from JIRA
- [ ] Replaces GitHub issues with JIRA Issues
- [ ]

[2018-06-15 19:18] andymckay opened #18 "Deploy JIRA Connector"
This is just a general tracking issue to cover deploying the JIRA connector to the GitHub Infrastructure. More details to come.

[2018-06-15 19:18] andymckay opened #19 "Open source the JIRA connector"
Presuming that at some point we'll be announcing the JIRA connector and open sourcing the work.

[2018-06-15 19:20] andymckay opened #20 "Add to the Marketplace"
Let lots of people use it and get it through the Marketplace. We'll need to get some assets from github/creative#2066.

[2018-06-19 15:58] andymckay opened #21 "Get some internal testers"
We'd like to aim for the end of this week. This will depend upon deployments #18.

cc @jmilas for letting people know about this

[2018-06-19 15:58] andymckay opened #22 "App sec review"
This is a review of app sec before we release. More details to follow.

[2018-06-19 16:28] bkeepers opened #23 "Document development setup"
Similar to https://github.com/integrations/slack/blob/master/CONTRIBUTING.md#getting-started

[2018-06-19 16:35] primarilysnark opened #24 "Design review"
## Summary
We need a review of the existing pages for copy and design. Jira has their own [design guidelines](https://atlassian.design/) that we need to adhere to for pages on their side.

## Screenshots
<details><summary>Unconfigured Jira App Page</summary>
<img width="1680" alt="screen shot 2018-06-19 at 9 28 38 am" src="https://user-images.githubusercontent.com/4517126/41611070-a5b15908-73a3-11

[2018-06-19 16:37] #9 closed, assigned to primarilysnark

[2018-06-26 21:10] primarilysnark opened #32 "Remove intermediary step for new GitHub installs."
When the app is installed to a new organization, it currently redirects back to the intermediary page and the user is forced to reselect their organization. Ideally, we'd take care of that for them so that it redirects back to Jira directly.

[2018-06-26 21:12] primarilysnark opened #33 "Jira Get Started page doesn't allow Administrators to access it."
When a user installs the app to Jira, it prompts them to "Get Started". Clicking on "Get Started" directs them to a forbidden page as no user has access to the page. This should be set to be available to anyone with access to add-on configuration.

[2018-06-26 21:13] #23 closed, assigned to primarilysnark

[2018-06-27 18:12] bkeepers opened #34 "What is the migration path for existing users?"
From the [scope](https://github.com/integrations/jira/blob/master/docs/scope.md) doc:

[2018-06-27 18:14] bkeepers opened #35 "Syncing data on initial setup"
From the [legacy-features](https://github.com/integrations/jira/blob/2f4fa36d842bf15e33a7742e61cc7cbbacdce39c/docs/legacy-features.md) doc:

The [scope](https://github.com/integrations/jira/blob/master/docs/scope.md) doc doesn't currently include anything on the initial synchronization, and we know from experience that this has been a pain point for customers with the DVCS connector.

[2018-06-28 19:31] #7 closed, assigned to primarilysnark

[2018-07-03 22:54] #6 closed, assigned to primarilysnark

[2018-07-05 16:59] #33 closed, assigned to primarilysnark

[2018-07-12 17:01] #24 closed, assigned to jmilas

[2018-07-12 17:50] #18 closed, assigned to bkeepers

[2018-08-06 16:15] jmilas opened #41 "Complete the list of capabilities in the Descriptor"
It looks like our Atlassian Connect Descriptor is currently only subscribed to the Commit capability for the DevInfo API.

https://github.com/integrations/jira/blob/505c204b067d98b0c28c4c4ba183c0893aefdc34/lib/jira/connect.js#L36

We need to also add BRANCH and PULL_REQUEST per the [docs](https://github.com/integrations/jira/blob/master/docs/JiraDevelopmentInformationAPI-VendorImplementationGuidan

[2018-08-08 20:14] jmilas opened #43 "Use DevInfo 0.10 instead of 0.9"
It looks like we're using an outdated version of the DevInfo API which Atlassian would like to deprecate. The docs for the new version can be found here https://drive.google.com/drive/folders/1ub7iuRsDWREGoTXMU14JSxxJ2nvvGVIX

[2018-08-08 22:06] #41 closed, assigned to nobody

[2018-08-10 23:21] #43 closed, assigned to nobody

[2018-08-14 20:41] andymckay opened #46 "Set up a nice URL"
A nice URL like https://jira.github.com that bounces over to the marketplace entry at https://github.com/marketplace/jira would be good.

Currently https://jira-integration-production.herokuapp.com/ redirects to https://github.com/apps/jira. Ideally that could redirect to https://github.com/marketplace/jira.

We should do this once the Marketplace listing is live: #20

[2018-09-05 22:28] andymckay opened #54 "Remove "write access" to code."
Currently the Jira app on GitHub requires "Write access". In a meeting, neither myself, @tcbyrd or @bkeepers could figure out why. Let's remove that permission from the Jira app.

[2018-09-05 22:43] andymckay opened #55 "Remove or fix the "configure" button"
The configure button on Jira:

![screen shot 2018-09-05 at 3 03 43 pm](https://user-images.githubusercontent.com/74699/45125188-391ce700-b122-11e8-9c3c-069972df5c90.png)

Currently takes you to an error page:

![screen shot 2018-09-05 at 3 41 37 pm](https://user-images.githubusercontent.com/74699/45125180-315d4280-b122-11e8-937e-77472304bcad.png)

It should take you to the configuration page:

![s

[2018-09-05 22:49] andymckay opened #56 "Installing from the GitHub Marketplace"
The flow to install from the Atlassian Marketplace is pretty straightforward. However the flow to do it from the GitHub Marketplace isn't as great. We get to the app install flow and then get to something like:

https://jira-integration-production.herokuapp.com/github/configuration?installation_id=322352&setup_action=install

This could be because the Marketplace is pointing to the production app,

[2018-09-05 22:55] andymckay opened #58 "Anonymous access to the post-install-page"
It seems that the post install page is open to anyone.

https://andymckay.atlassian.net/plugins/servlet/ac/com.github.integration.staging/github-post-install-page

Is available to anonymous users and @tcbyrd was able to add his org into that. We should see if this is something on our end defining the add-on or an issue in Jira that might need addressing

[2018-09-05 23:01] andymckay opened #59 "Improve the app listing page"
The app listing page has no description and a transparent icon.

Let's improve this and make sure it all works nicely as part of #56.

[2018-09-06 21:11] #55 closed, assigned to tcbyrd

[2018-09-06 21:12] #58 closed, assigned to nobody

[2018-09-10 21:30] #35 closed, assigned to nobody

[2018-09-10 21:48] tcbyrd opened #61 "Implement branch sync support"
The DVCS connector currently supports syncing branches as well as commit and PRs. This has not been implemented in the integration yet, so we'll need to add support for new branches from webhook payloads as well as initial data sync.

[2018-09-10 21:54] tcbyrd opened #62 "Automate sync on installation"
While in the testing stages, there is a manual `Sync` button that triggers the initial data sync. This should be automatic when the integration is first installed for new users. We can accomplish this by triggering the sync once the integration is [installed](https://github.com/integrations/jira/blob/master/lib/jira/install.js), but we'll also want to listen for `integration_installation_repositor

[2018-09-11 17:58] #54 closed, assigned to tcbyrd

[2018-09-14 17:28] andymckay opened #66 "Implement remove old GitHub add-on API"
https://github.com/integrations/jira/blob/cc5a3e1aac6104a33a0d89ef5c52d16a19a10b20/docs/jira-dev-info-0.10-swagger.yaml#L135-L156

It's called `githubMigrationCompleted`.

[2018-09-20 21:21] #59 closed, assigned to andymckay

[2018-09-21 03:09] #66 closed, assigned to tcbyrd

[2018-09-21 17:58] #56 closed, assigned to gimenete

[2018-09-26 04:50] #62 closed, assigned to tcbyrd

[2018-09-26 04:50] #61 closed, assigned to tcbyrd

[2018-09-26 04:50] #34 closed, assigned to nobody

[2018-10-01 22:16] #21 closed, assigned to jmilas

[2018-10-02 23:20] KAbakumovAtl opened #139 "It is possible to connect an organisation for which GH user don't have an admin access"
While connecting my GitHub account to Jira I can see the following options when choosing organisations to connect:
![gh_orgs](https://user-images.githubusercontent.com/42425541/46382206-5925d300-c6ed-11e8-8439-a12fefea3e59.jpg)

As discussed on the meeting I should not see the "integrations" organisation, because I don't have an admin access to it.

[2018-10-04 18:12] #20 closed, assigned to andymckay

[2018-10-04 18:13] #22 closed, assigned to andymckay

[2018-10-10 14:55] andymckay opened #101 "Regex for branch and issue parsing"
The DVCS connector used to parse the following: `branchname.JIRA-KEY` or `branchname_JIRA-KEY`. The new integration requires this to be `-`, eg: `branchname-JIRA-KEY`.

Perhaps this is a matter of updating the regex used in the integration.

[2018-10-10 15:20] tcbyrd opened #102 "Error when processing closed pull request"
Found in Sentry: https://sentry.io/github-integrations/jira/issues/721597167/events/32750254925/

[code]
There's only one event, but need to test if the `pull_request.closed` event sends `head.repo` in the payload. It might just need to be `pull_request.repo`.

[2018-10-10 16:53] gimenete opened #103 "Move additions/deletions calculations per file and commit moved to another queue"
Right now we have to do one request per commit pushed to get the number of lines added and deleted per file per commit, which makes the process take too much time.

Let's move the processing of that information to another queue to get most of the information processed as fast as possible and this, which has lower priority, will be processed in its own queue.

[2018-10-10 17:49] tcbyrd opened #104 "Error when issue/pr body is blank"
Bug reported by Sentry: https://sentry.io/github-integrations/jira/issues/722299397/

[code]

When an isusue/pr body is blank, there's nothing to parse, so we need to ignore this.

[2018-10-11 16:12] #102 closed, assigned to gimenete

[2018-10-11 16:12] #104 closed, assigned to gimenete

[2018-10-11 16:36] #101 closed, assigned to gimenete

[2018-10-12 18:08] andymckay opened #115 "Links within issues not appearing"
On an issue I've inserted a comment that should match the regex, for example TES-2. It should be linked up by the Jira bot, however it doesn't seem to be.

![screen shot 2018-10-12 at 11 08 08 am](https://user-images.githubusercontent.com/74699/46886226-2081aa00-ce0f-11e8-9cea-458b6b0edae9.png)

[2018-10-15 22:18] bkeepers opened #119 "Look in PR body for issue keys"
Currently only looks in PR title, but I think it makes sense to scan the body as well.

cc https://halp.githubapp.com/inboxes/technical/labels/ecosystem-integrations-jira/discussions/35a63390d08211e89a1a7d72d9abdb35

[2018-10-16 00:07] bkeepers opened #120 "Jira issue links not unfurled in PR body"
If you type `[JI-123]` in an issue body or comment, it will get linked to the Jira issue. If you type it in the Pull Request body, it does not.

[2018-10-16 20:54] #115 closed, assigned to nobody

[2018-10-16 21:03] andymckay commented on #19
Done. Yay!

[2018-10-16 21:03] #19 closed

[2018-10-16 23:42] andymckay opened #124 "Document the permissions we require from Jira"
The readme [currently says](https://github.com/integrations/jira#jira-permission-scopes) that we require permissions:

`Jira for "Read, Write, and Admin for Development Information (branches, commits, and pull requests)`

We could probably expand upon that a bit more since the permission request when you install the add-on it has a dialog outlining that the installation requires:

[code]

[2018-10-17 17:37] andymckay opened #126 "Link to this repo"
We currently don't have any links to this repo, apart from the terms and conditions. Would it make sense to add a link to the bottom of some of the configuration pages we show in Jira?

[2018-10-17 21:40] andymckay commented on #46
This turned out to be a slightly different thing, but we made sure that user visible URLs are now using https://jira.github.com.

[2018-10-17 21:40] #46 closed

[2018-10-17 22:39] andymckay commented on #119
Can I confirm that we should do this? The [DevInfo API](https://developer.atlassian.com/cloud/jira/software/rest/#api-rest-devinfo-0-10-bulk-post) allows us to post the title, but doesn't mention anything about the body in the API. We could do this by concatenating the title and body together (which is in the proposed) PR, but I wondering if that's the correct thing to do with the API.

[2018-10-17 22:57] andymckay commented on #120
@gimenete is it possible to separate this issue from #121? We are waiting for feedback on that one, but it seems that linking up a Pull Request body has nothing to do with the DevInfo API mentioned in #121.

[2018-10-18 02:02] KAbakumovAtl commented on #119
Technically it is possible to do with DevInfo API without including PR's body in the request. All you need is to include appropriate issue keys in "issueKeys" array parameter of this PR.

[2018-10-18 11:08] gimenete commented on #120
Sure

[2018-10-18 13:11] tcbyrd commented on #119
@KAbakumovAtl Just to be 💯clear on the ask, is this something that was supported before in the DVCS connector or would this be considered new functionality if we enable it in the new integration? I think we mainly want to know if this is something we should consider adding to the sync job or if it makes sense to only worry about for new data.

[2018-10-18 14:01] blidgey commented on #119
We have been using the Git Integration for Jira plugin from BigBrassBand that does this and sync's with old data.

[2018-10-23 21:45] #120 closed

[2018-10-26 00:47] PuneetKohli opened #135 "Feature Requests"
Hi,

We're using this plugin at our workplace as a replacement for the previous Jira DVCS connector. Got in touch with @andymckay for how to automatically trigger workflows from Github other than using 'smart commits'.

Primarily we are looking for deeper integration between Jira Workflows and Github actions.

More specifically, It'd be interesting if we could see some of the below features:-
1. C

[2018-10-29 16:00] charlymr opened #137 "Developement Panel is not available"
### Description:
When linking my organisation to Jira Cloud with the new GitHub plugin, everything seems to works and I see my organisation. I used to do it the old way and it was working.

### Actual  Result:
The development panel is not present. I use to have all my commit, branches, pull request and now nothing is there, even after 3 days! That is very frustrating!

I have been searching and do

[2018-10-29 16:02] charlymr commented on #137
It actually came after 4 days!

[2018-10-29 16:02] #137 closed

[2018-10-29 16:56] tcbyrd commented on #137
@charlymr Sorry it took so long! We're working on improving this. Do you know how many repositories you added to the installation? To prevent rate limiting issues, the integration processes a single repo at a time, so it doesn't post the event to Jira that the migration is complete until all repositories have migrated. It's not supposed to hide the DVCS information until the migration is complete,

[2018-10-29 17:09] charlymr commented on #137
@tcbyrd actually that's the thing, I didn't know I shouldn't have remove the DVCS link so my mistake was after installing the plugin I delete the link.

I have about 100 repositories on my account ( Including fork) SO yes I do have a lot.

Anyway all back to normal now. Maybe in the migration process, just mention not to remove the DVCS or have some indicator saying when we can remove the link.

[2018-10-30 03:07] joshma opened #138 ""Get Started" in Jira addons leads to an error page"
I've done the following:
- Installed the Jira integration on GitHub marketplace
- Installed the GitHub add-on in Jira

However, when it takes me to the post-install setup (https://XXX.atlassian.net/plugins/servlet/ac/com.github.integration.production/github-post-install-page), I see an iframe with a 500 in it and an "App is not responding" message:

![image](https://user-images.githubusercontent.c

[2018-10-30 13:52] tcbyrd commented on #138
@joshma It seems to be up for most users. Can you try uninstalling the integration from Jira (you can leave it installed on GitHub) and reinstalling it from within you Jira instance. You can go directly to the integration page from `https://<instance>.atlassian.net/plugins/servlet/upm/marketplace/plugins/com.github.integration.production`.

[2018-10-31 10:45] drmaxx commented on #138
I have the exact same Issue. Even after re-installing the Addon in Jira and trying the link provided.

[2018-10-31 19:02] joshma commented on #138
Ah...so I swear I've reinstalled a few times before and it didn't work. This time, it worked, though. :)

@drmaxx worth trying reinstalling again, it might be some transient issue.

[2018-10-31 19:07] tcbyrd commented on #138
https://github.com/integrations/jira/pull/118 included some fixes to how that page loads (since it's where you can re-trigger a sync job), so reinstalling before that was deployed may not have worked correctly. Glad it's working for you now!

[2018-11-01 22:30] PuneetKohli commented on #135
Wondering if someone from the team could let me know if any of these are currently being looked into? Or are on the roadmap.

[2018-11-03 02:34] tcbyrd commented on #135
Hey @PuneetKohli! We do not have anything formal to share currently, but there are some new features on the roadmap for both Jira and GitHub that should enable some of these. I like the idea of making some of these configurable options. One idea I had around this is using [probot-config](https://github.com/probot/probot-config), so a repository owner could opt in to certain features. The initial r

[2018-11-07 13:13] onnodb opened #141 "Jira bot edits mangle autolinked GitHub references"
To reproduce: create a Pull Request that references _both_ a Jira issue, as well as an autolinked reference to another PR. For example, if I create a PR with the following body:
[code]
Then I end up with a PR body in which the Jira issue is correctly linked, but the reference to PR 123 in "my_project" is dropped (i.e., shows up as plain text, not a link).

If I would have created the PR body witho

[2018-11-07 18:49] tcbyrd commented on #141
@onnodb Thanks for reporting this. I think I know what's causing that and will work on a fix soon.

[2018-11-07 20:40] onnodb commented on #141
Great, thanks a lot!

[2018-11-08 10:27] mkoleva opened #142 "Commits on jira not up-to-date"
I am not sure if this is a JIRA or a github integration issue, however if commits become unreachable due to rebasing, they still appear under the issue number in JIRA. The linked jira issue should only link reachable commits in repositories.

I could not find a bug or feature request to follow on this.

[2018-11-09 00:44] KAbakumovAtl opened #143 "Real-time synchronisation does not work for my jira/github integration"
My Jira instance: https://kabakumov.atlassian.net
I've integrated it with my account and, particularly, with https://github.com/KAbakumovAtl/NewTestRepo repository.

1) I have created TEST-13 and TEST-14 issues
2) I've created new branch https://github.com/KAbakumovAtl/NewTestRepo/tree/TEST-13-merge-test-branch
3) I've pushed 2 commits consequentially to my branch with the following messages:

- T

[2018-11-09 00:49] KAbakumovAtl opened #144 "Consider sending merge commits with "preventTransitions=true" flag"
When we do squash merge, we might have all commits messages from the branch copied to the merge commit.

In this case we might potentially have:
1) If there were any "smart commits" commands in the branch commits messages, then they might be executed again because they occurred in the smart commit
2) If there are some transitions triggers by submitting new commit configured in the issue workflow,

[2018-11-09 08:02] joshma commented on #143
I'm experiencing the same thing, except step 6 - even after hitting retry on https://XXX.atlassian.net/plugins/servlet/ac/com.github.integration.production/github-post-install-page, a PR I created w/ the issue key in the PR title, branch name, and commit doesn't get linked to the issue.

(We're using the new Jira issue view, for what it's worth. I tried turning it off but it didn't help.)

[2018-11-09 08:07] joshma commented on #138
In trying to troubleshoot #143, I uninstalled the Jira addon and reinstalled it. The same behavior as before is back - a 5xx iframe and "App is not responding. Wait or cancel?"

Is there some regression in the integration! (Thanks in advance for the help!)

[2018-11-14 21:31] PuneetKohli commented on #135
I agree with your idea of having them as opt-in features. Thanks for sharing the contributing guidelines, will definitely see if I (or a co-worker) would be interested to contribute alongside our full-time roles.

Thanks!

[2018-11-27 22:52] gb-ckedzierski commented on #138
Same issue here. Installed the plugin and clicked on 'configure' now I get the above error.

[2018-11-28 00:52] andreacab opened #147 "Feature request: support tagging?"
Hey,

Just wondering if there is any intention to support tagging with that integration?

Would help organize tickets into releases (i.e. tag).

Thanks.

[2018-11-28 14:32] ACyphus commented on #143
Hey @KAbakumovAtl & @joshma

For direct support on this integration you need to contact the GitHub Support team:

https://github.com/integrations/jira#questions-need-help

[2018-11-28 14:32] #143 closed

[2018-11-28 19:43] #124 closed

[2018-11-28 20:10] tcbyrd commented on #138
Hey all. Sorry for the delay here. I've been trying to recreate this issue and it seems to not be consistently happening. I was able to recreate it when installing directly from the Atlassian Marketplace, but installing it manually from the descriptor works every time.

Anyone having this issue, could you try manually adding the app from this descriptor URL? https://marketplace-cdn.atlassian.com/f

[2018-11-28 20:39] gb-ckedzierski commented on #138
@tcbyrd we installed through the marketplace.

[2018-11-28 22:15] tcbyrd commented on #138
@gb-ckedzierski Can you try the manual installation option from the URL I provided? That's the descript from our Marketplace listing, so it's the exact same app. I just want to verify if there's a bug specifically with the Marketplace flow.

[2018-11-29 12:22] elsewhat opened #150 "Feature request: Creation of bug in Jira based on Github security alert for vulnerable dependencies"
In 2018, Github introduced security alerts for vulnerable dependencies in repos ref https://help.github.com/articles/about-security-alerts-for-vulnerable-dependencies/

This is an important security feature and many organisation would like to:
1. Act immediately by evaluating the impact the vulnerability has on their solutions
2. Keep a paper trail on decision process for the vulnerability.

To ac

[2018-11-29 22:06] gb-ckedzierski commented on #138
@tcbyrd Sorry for the delay. We were able to install it that way, and it seems to be working. Thanks for the workaround. Please let me know if there's any other information you would need.

[2018-11-30 13:03] psilveirapsilveira opened #151 "The button "retry" doesn't work when accessing Jira with Safari"
<img width="1393" alt="screen shot 2018-11-27 at 16 35 14" src="https://user-images.githubusercontent.com/40440763/49290886-7679e200-f48f-11e8-9f71-4ac41620a44b.png">

[2018-12-03 09:02] drmaxx commented on #138
Just tried to do a manual installation with the Link provided above. I still get exactly the same error message as joshma got in the first post.

[2018-12-04 00:53] tcbyrd commented on #138
Thanks all. Looks like there's a race condition here where sometimes we don't get the installation event quick enough. Patch will be out ASAP.

[2018-12-06 05:22] mike-stewart opened #153 "Link PR by Branch Name"
We are using this integration as a replacement for the JIRA DVCS integration. One of the features we liked with it was that it would create links in JIRA to the PR if the branch name of the PR matched the JIRA key. This integration only links based on the PR title.

This integration already shows branches and commits, so including the branch name in the PR search would help catch PRs that might no

[2018-12-10 17:57] ACyphus opened #156 "Add a visual indicator that the Retry button was clicked"
Clicking the Retry button inside the integration configuration in Jira should give an indicator that the button was clicked and that something is happening.

Here is a screenshot of where the button is located:

![screen shot 2018-12-10 at 11 55 09](https://user-images.githubusercontent.com/983880/49751234-8a34fd80-fc72-11e8-8dad-72989f47b8e6.png)

Currently clicking the button gives zero feedback

[2018-12-11 22:55] #138 closed

[2018-12-12 00:47] tcbyrd commented on #138
Ok this has been deployed in production and I tested uninstalling/reinstalling the app multiple times and everything is working fine. If anyone is still having problems with this error screen, please let us know, but I think that race condition was the cause of all of these.

[2018-12-14 18:47] heatherlurker opened #157 "test the JIRA connection - ignore please [SAL-48]"

[2018-12-14 18:48] heatherlurker commented on #157
BTR-91

[2018-12-14 19:01] heatherlurker commented on #157
#sal-48

[2018-12-14 20:24] ACyphus opened #158 "Feature Request: tracking smart commits in open source repositories"
The ability to track Jira issue keys and smart commits in open source repositories that you do not have direct access to.

This would allow people to create a pull request from a fork into the parent repository with a Jira issue key in the title and have the pull request show in their Jira issue.

If this is something you'd also like, react with a thumbs up.

[2018-12-14 21:49] Piedone commented on #158
The use case is that we use JIRA for our internal issue tracking, but sometimes a JIRA issue also needs work in an (open source) GitHub repository that we don't own (e.g. we stumbled upon a bug in a library while working on a task for a customer project, and we're contributing a fix). We'd like PRs opened for contributions like this be tracked under the same JIRA issue still.

[2018-12-14 22:49] returnlytom opened #159 "Jira bot duplicating ticket links"
Similar to #141, the Jira bot is duplicating links to tickets. Please see this gif for a reproduction:

![link_inject](https://user-images.githubusercontent.com/22224829/50033902-d51d8f00-003d-11e9-9095-c4c27207f568.gif)

[2018-12-17 23:01] tcbyrd commented on #159
This is an interesting issue. I think the best way to solve for it is we just don't unfurl to the same syntax we use within the unfurled link.

What would you think if we instead unfurled to something like this: [jira/TES-123](https://example.com/browse/TES-123). This follows the way github unfurls links (e.g. https://github.com/integrations/slack/issues/1). Done this way it's also visually more c

[2018-12-17 23:22] tcbyrd commented on #141
@onnodb check out #161 and let me know if you think about that proposed solution.

[2018-12-17 23:23] tcbyrd commented on #159
Check out #161 for a proposed solution.

[2018-12-18 04:49] returnlytom commented on #159
@tcbyrd Love it! Nice work, thanks for the prompt turnaround :)

[2018-12-21 23:10] alfonsochartier commented on #153
+1 this would be very useful. Note that the documentation states that the PR should be picked up if you name the branch with the JIRA issue, however I tested this and it does not appear to be the case (only picks up the branch): https://confluence.atlassian.com/jirasoftwarecloud/referencing-issues-in-your-development-work-777002789.html

[2019-01-03 23:39] joshma opened #162 "Development panel doesn't appear"
I'm experiencing a similar issue as #137 but with just 1 repo - the Development panel never appears.

Here's what I've done:
1. Set up the Jira app in Github, and the Github app in Jira
2. Created a PR titled `[BNCH-5458] Testing` (BNCH-5458 is an existing issue we have)
3. Verified that some part of this works - if I type `[BNCH-5458]` in a PR body, it gets linkified by the `jira` bot.
4. However

[2019-01-04 13:39] ACyphus commented on #162
@joshma What is your sync status? You can find it by going to Jira Settings -> Add-ons -> Manage Add-ons -> GitHub -> Get started.

https://github.com/integrations/jira/blob/5eeb4f36ae26c7c107a2199b3d67d077521cfdf3/SUPPORT.md#sync-status-not-reaching-complete

[2019-01-04 14:21] #157 closed

[2019-01-07 05:08] joshma commented on #162
Ah...it's currently (still) ACTIVE - I'll retry, although I suspect it will still hang again.

[2019-01-08 08:44] tcbyrd commented on #162
@joshma We found some issues with payloads that were getting rejected from Jira that was preventing the sync from completing. These were just deployed this evening (#164, #163), so if you can hit the retry button on more time, it should pick from where it got stuck before. Let us know if it's not finished in the next day or two.

[2019-01-08 17:44] joshma commented on #162
Will retry and check back in, thanks.

[2019-01-08 20:09] joshma commented on #162
Works now, thank you for your help!

[2019-01-08 20:09] #162 closed

[2019-01-10 21:12] onnodb commented on #141
That does look like an excellent solution!

[2019-01-11 14:39] ninoalloy commented on #153
Yes please this would be great because it would not only match the behaviour of the now old DVCS connector but also keep the business process simpler by requiring the developer to only add the issue key in the branch name without having to remember to do the same for the pull request

[2019-01-11 14:41] cmcnicholas commented on #153
This used to work with a Jira key as a part of:

- PR title (still working)
- PR description
- branch title
- any new commit message associated with the branch

This greatly simplified the process for developers.

[2019-01-15 20:47] BrianAI commented on #153
This is a very important part of the workflow that was set up as part of the roll out and integration of these two tools.  Really looking forward to seeing this come back!

[2019-01-15 20:50] laurenbrandstein commented on #153
This! We were using these workflow hooks and found it a big value-add both for the engineering team to avoid wasting time on manual steps or forgetting things, as well as for product and design (since issues were kept up-to-date more often with the automation). Please bring it back! 🙏

[2019-01-17 20:10] clmcgrath opened #168 "No change in either github or jira after several installs"
I have tried installing this several times on our Enterprise Cloud account and none of the expected features seem to be showing up in either Github or Jira

no development pane,  no commits tab ,  issue linking doesn't seem to be working in github either

[2019-01-18 12:33] ACyphus commented on #168
👋 @clmcgrath we have some support documentation that may be useful here:

https://github.com/integrations/jira/blob/ffbf1e8bc346c2265d616e965e62ddad5e981768/SUPPORT.md#sync-status-not-reaching-complete

What is the status of your integration?

[2019-01-23 03:03] zakness commented on #153
Our team really misses this feature from DVCS as well! Our PRs get automatically converted to release notes, so we actually have our engineers explicitly remove the branch name from the PR title to make them more readable for non-technical folk.

[2019-01-27 11:10] clmcgrath commented on #168
looks like it started working in jira in the last day or so
but sync is taking a long time to complete , issue links taking 15-20 minutes to show up

[2019-01-28 14:44] ACyphus commented on #168
Thanks for the update @clmcgrath. What is the current sync status displayed in the integration settings?

**Jira Settings -> Add-ons -> Manage Add-ons -> GitHub -> Get started**

[2019-01-29 10:04] mausch opened #169 ""add-ons" -> "apps""
https://github.com/integrations/jira/blob/master/README.md#installation-from-atlassian  talks about "add-ons" but my Jira ("Jira d8bbfd3f" according to the "about" page, it's hosted by Atlassian) says "apps" instead of "add-ons". Not sure if my instance is older or newer than what the documentation expects? Does this have any impact on this integration? (it does not work at all on my instance). Is

[2019-02-08 02:40] returnlytom commented on #159
Closed by #165

[2019-02-08 02:40] #159 closed

[2019-02-11 13:20] fuxx commented on #10
Hey @andymckay any news on the topic :) ?

We are in the process of migrating our TRAC system which is coupled to GitHub Enterprise to JIRA and Confluence and we really would love to keep GitHub Enterprise in our environment instead of Bitbucket but the current connector is not very nice regarding the overview of Commits so this one would be really a boost.

Is their an estimation when the API cou

[2019-02-11 16:02] johnBartos commented on #153
+1 for this. We run a public repo backed by a private Jira board. It's a leaky abstraction to have ticket numbers in the titles; we don't want to expose our sprint details to the world.

[2019-02-11 17:08] andymckay commented on #10
Sorry @fuxx I'm not working on this project myself anymore, so I'm not sure of the timelines for this one. If you've got a GitHub Enterprise account, then maybe contacting your GitHub sales representative could help. Either way you've commented on this issue so perhaps some people who are working on the project might be able to give an update.

[2019-02-11 17:35] cah-dunn commented on #153
👍

[2019-02-12 11:48] WORMSS commented on #153
I added all the subtasks IDs in commits messages of the commits (and also the PR description) and the tasks were not updated like they used to.
Now it ends up all ends up in a giant unreadable Pull Request Title. This is unmanageable.
Needs to go back to the DVCS featureset.

[2019-02-13 18:11] salehmoh opened #172 "Jira bot duplicating ticket links when PR title is changed"
Closely related to #159 ; except, in this case, whenever the title of the PR is changed.

[2019-02-14 18:58] #172 closed

[2019-02-19 23:29] tcbyrd commented on #141
Fixed by #165!

[2019-02-19 23:29] #141 closed

[2019-02-19 23:32] #169 closed

[2019-02-19 23:35] tcbyrd commented on #169
Thanks @mausch. Guess they changed it after I wrote the docs! 😄

[2019-02-20 15:00] ACyphus commented on #153
This has shipped over here: https://github.com/integrations/jira/pull/173

[2019-02-20 15:00] #153 closed

[2019-02-22 12:03] tcbyrd commented on #10
Hi @fuxx! We are definitely working on enterprise support, but nothing to announce just yet. This integration uses a new API from Atlassian that’s not yet available in Jira server, but the good news is we’ve designed this to eventually work on-prem, so hopefully once the APIs are available it won’t take much work to setup.

[2019-02-28 14:43] ACyphus commented on #168
Closing this. If this is still a problem please re-open the issue.

[2019-02-28 14:43] #168 closed

[2019-03-06 07:18] jarrodholliday commented on #119
I second this and looking at commit messages in the PR for issue keys as well.
Previously with DVCS connector it worked for us and now after updating to the new App Integration it's broken.

[2019-03-15 14:32] dimofeev opened #179 "Branch integration does not work when Jira item is with lower case"
HI guys,

 We found out that when you name you branch using the following way:

 `test-1234-my-branch` the integration is not working as expected and the branch does not appear in the JIRA item. Naming the branch using upper case works fine (i.e. `test-1234-my-branch`).

 Is there any specific reason for that limitation?

Best,
 Dimo

[2019-03-15 15:26] tcbyrd commented on #179
Hi @dimofeev! Basically this is enforced by the Jira Issue Key format

https://confluence.atlassian.com/jirasoftwarecloud/referencing-issues-in-your-development-work-777002789.html

In practice, this also helps keep false positives to a minimum since it's less common for branch names to starts with two uppercase letters. Hope that helps!

[2019-03-15 15:26] #179 closed

[2019-03-20 20:58] nvmwill opened #180 "Only new commits are linked to Jira tickets"
Hi there,

I've just replaced the old DVCS account link from Jira Cloud to Github with the app-based version.

Now that the app is working, only new commits are showing up in the Development Information panel in Jira tickets. All of the commit links that were visible in tickets prior to the app installation seem to have been lost.

Is there a way to re-sync or re-scan the entire commit history for

[2019-03-20 22:18] akropp-stripe commented on #54
The documentation still says it requires write access. Is this correct?

[2019-03-25 17:17] SimplesSimon opened #181 "Private Github emails"
I'm trying to set up Github integration with our Jira projects. It all works fine *unless* I make my email address private on Github, where the integration fails. I initially logged this as a support issue last November but was told that it was a feature of your implementation and that I should follow this repo for updates.

I now see the issue is still unaddressed. Are there any plans to do so? O

[2019-03-26 04:21] tcbyrd commented on #54
@akropp-stripe Can you point out the documentation where you see this? On GitHub It does [require](https://github.com/integrations/jira#github-permission-scopes) write access to Issues and Pull Requests, but not write access to code (which is what we updated in this Issue). On Jira it requires write access to [Development Information](https://github.com/integrations/jira#jira-permission-scopes) on

[2019-03-26 05:19] tcbyrd commented on #181
Hey @SimplesSimon thanks for bringing this back up. The main problem behind this is that Jira maps smart commits based on when the e-mail address of the author maps to a user in Jira. Without that we'd have to modify the app to request additional permissions to read a user's private e-mail address, or the integration would have to manually call the smart commit transitions.

One feature we did rel

[2019-03-26 10:53] SimplesSimon commented on #181
Yeah, it's a tricky challenge @tcbyrd. Thanks for getting back to me. It might be worth experimenting with the on-behalf-of trailer but for me the challenge isn't technical but behavioural. I'm trying to make the overhead of Jira as minimal as possible for devs. Adding more syntax to Smart Commits may make adoption difficult. We'll have to see.

[2019-03-26 16:44] akropp-stripe commented on #54
I see, I think I misunderstood the write access part. Thanks

[2019-03-26 22:58] tcbyrd commented on #181
The other option is we make the integration manually call the smart commit/transition API. We had this feature initially, but removed it because it was causing duplicate transitions when the author matched a user in Jira. There's an option there to prevent transitions from happening automatically if we know the integration has to manually call API, but for security reasons we opted to let it only

[2019-03-26 23:54] tcbyrd commented on #180
Hi @nvmwill! This should happen automatically when the new integration is installed as long as all repositories in your Organization that have smart commits are part of the installation. Depending on how many repositories/commits it could take a few hours, but even for large installations it should complete in a few hours. If the old commits still haven't showed up, you can go back to the app page

[2019-03-28 14:55] dpraul opened #182 "Draft pull requests trigger "Pull request created""
I understand that Draft pull requests are a fairly new feature, so maybe it's just that the workflow hasn't been entirely ironed out with how they work with the Jira integration.

That said, opening the discussion: I'm not sure if a draft pull request makes sense to trigger "Pull request created". Right now we use that trigger to transition issues from "In Progress" to "In Review", and I think the

[2019-03-28 20:42] zalloy commented on #119
Any update on this? We also used to use the DVCS connector, and this used to work with that, but after changing to this integration it stopped working. It's preventing our deployment PRs from showing up in Jira, which is very annoying because it makes it hard to tell what's going on. Ideally, I would like to be able to use a JQL query for a given PR title in Jira, and have all the issues in that P

[2019-03-28 21:46] tcbyrd commented on #182
Hey @dpraul Thanks for opening this issue! Definitely makes sense to discuss how this should work here. One dependency we have is that the enum for the Pull Request status is this:

https://github.com/integrations/jira/blob/c2b329dd200c3dd348104a16f442602067644fc7/docs/DevInfoAPI.json#L427

It would be great if Jira had a "Draft" state, and maybe we can talk to Atlassian about adding that to their

[2019-03-29 08:01] nvmwill commented on #180
Hey Tommy - thanks for the response! I'm still seeing the issue after trying the re-sync button, so I'll use that support link and keep my fingers crossed!

Cheers

[2019-03-29 15:00] tcbyrd commented on #119
Hi @zalloy! Just to confirm, are you wanting to look in both GitHub Issues and Pull Request bodies for issue keys, or would it be sufficient to look in just the main body of the Pull Request? Pull Request body and issue comment bodies are separate events.

Can you explain more about what you mean here? I don't have a clear understanding of the difference between a regular PR and a "deployment" PR.

[2019-03-29 15:37] zalloy commented on #119
@tcbyrd The way it was working before, with the DVCS connector, it would work something like this:

- Engineer would create a PR to merge from master to staging, that contains all the commits that we planned to release, that passed preliminary QA on master. In this case, the PR title would be something like "Release [date and/or number] - master -> staging" and the PR body would contain a template

[2019-03-29 21:38] dpraul commented on #182
I agree with your point on people having differing opinions - I'm not certain leaving draft pull requests out of Jira is the best solution.

Definitely also see your point on a PR opened not necessarily meaning it's in review (my workflow configuration skills are weak, so I'm sure there is room for improvement there). Ideally the workflow would be able to pick up when reviewers are added to a PR a

[2019-04-02 11:41] Thijzer opened #183 "JIRA server support"
I'm wondering and couldn't find any support for JIRA server yet.
Is this in the works or should I look somewhere else?

Many thanks

[2019-04-04 01:19] tcbyrd commented on #183
@Thijzer Jira server support is dependent on the new DevInfo API being available. The current DVCS connector should offer much of the same functionality this new integration provides though, and we've written this in a way that it should be able to be adapted to Jira Server once the new API endpoints are available.

[2019-04-04 01:19] #183 closed

[2019-04-11 18:28] jdnrg opened #186 "Feature request: Support forks"
I would like a function to delegate admin hooks for forked private repos to the owner.

Suppose you have developers working on forks of a company repo in github.
Suppose they are using a personal account and want to use smart commits for jira.
In this case it becomes tedious to setup.

In order to have your personal fork watched by jira, you need to add it to the repository as admin. The admin doe

[2019-04-11 19:05] jdnrg commented on #186
Posted in community forum here https://community.atlassian.com/t5/Jira-discussions/Feature-request-for-Jira-Github-Integration-for-Forked-repos/m-p/1055923#M7136

[2019-04-16 10:25] adamniedzielski opened #188 "Document exact patterns for branches, commits and pull requests"
Hey 👋I'm not sure if that's the right side of the integration to post this issue. Feel free to close or forward to the Atlassian side.

We are trying to migrate from the DVCS Connector to the new GitHub for Jira app, prompted by an email titled "Action required: Switch to the new GitHub for Jira integration". We're following this article - https://community.atlassian.com/t5/Jira-articles/Everythin

[2019-04-18 21:38] ayadav opened #189 "commit title / pull request title [#ABC-123] do not link correctly"
Related to https://github.com/integrations/jira/issues/188

The root cause seems to be code in lib/transforms/smart-commit.js. It considers [#ABC-123] to be a command and excludes it from list of ISSUE KEYS such.

The basic command line syntax for a Smart Commit message is:

`<ignored text> <ISSUE_KEY> <ignored text> #<COMMAND> <optional COMMAND_ARGUMENTS>
`

Which should not match a message like

[2019-04-19 17:41] jordanfbrown opened #191 "Pull requests aren't linked unless the pull request title has the ticket link in it"
In the DVCS integration it seems like JIRA was able to pull in pull requests as long as the ticket number was linked in the pull request message. With this new integration, **it appears to only pick up the pull request if the ticket number is included in the pull request title**.

Wondering if this change was intentional? Or am I missing something?

Here's an example where the ticket link was not

[2019-04-19 18:39] tcbyrd commented on #191
Thanks for the excellent write-up @jordanfbrown. I think this is similar to what's being discussed in #119 and we'll work on adding support for it. It was my understanding that DevInfo API was looking for PR titles only. The one question I have is whether the links work in issue comments as well as the body of the PR? I could see this getting noisy if any link to a Jira issue showed up in any issu

[2019-04-19 22:08] jordanfbrown commented on #191
@tcbyrd Ah yes, this does look like a duplicate of #119. Apologies for not reading through the existing issues more carefully. Want me to close this one out?

Not totally following the question. Are you asking if somebody includes a JIRA ticket link in a Github comment, will it then show up in JIRA? Or am I misunderstanding?

[2019-04-19 23:05] tcbyrd commented on #191
Yeh exactly. The reason I'm asking is because `issue_comment.body` and `pull_request.body` are 2 separate events we have to listen for. So if you include a link in the `pull_request.body`, which is the first post in a Pull Request, that's one place to look. But if someone puts a link in a comment below the Pull Request, that's a separate event.

So if I include this link in this comment:

https://

[2019-04-22 18:46] jordanfbrown commented on #191
Gotcha. In the case of comments made on a PR or in an issue, I personally wouldn't expect it to link back to JIRA. I could see that becoming unwieldy quickly.

[2019-04-23 01:10] KAbakumovAtl opened #192 "Unwanted issue transitions/smart commits during Initial Sync"
According to the code, for any request to **/rest/devinfo/0.10/bulk** endpoint, **preventTransitions** parameter is always set to "**false**".

As a result, we might have transitions and smart commits triggered during initial sync. On Jira side, we got some customer tickets about unwanted transitions which happen on migration from DVCS to GitHub App.

To fix this problem **preventTransitions** fla

[2019-04-24 08:31] aylin-solak opened #194 "exclude certain commits from appearing in Jira even if the commit contains the Jira issue key"
Dear all,

I want to exclude certain commits from appearing in my Jira issue even if the commit contains the Jira issue key.

For example, when a commit has the word "staging", i do not want it to be seen in commit list.

thank you very much for consideration in advance.

Best Regards,
Aylin

[2019-04-24 09:20] matisnape commented on #188
We use naming convention `#ABC-123` and now with this new integration we lost all history in Jira.
Please, don't treat `#ABC-123` as comments 🙏

[2019-04-24 09:20] matisnape commented on #189
We use naming convention `#ABC-123` and now with this new integration we lost all history in Jira.
Please, don't treat `#ABC-123` as comments 🙏

[2019-05-01 16:12] nikkahall commented on #192
Hi - is there an anticipated completion date for the resolution to this issue?

[2019-05-14 16:11] nikkahall commented on #192
Hi - the last comment on this was 22 days ago.  Is there any update? Or someone I can contact regarding resolution schedule?

[2019-05-16 20:45] psilveirapsilveira commented on #192
Hi @tcbyrd,
Can you help us on getting an update on this case?

[2019-05-22 15:43] bfallik opened #196 "safe to delete DVCS configuration?"
Apologies if this is more of a user question than a technical issue. Please redirect me if there's a better place to ask this.

We're in the process of migrating from the old DVCS Connector to this new marketplace app. After installing the "Jira for github" plugin and once the initial sync transitions to the COMPLETE state, is it safe to delete the old DVCS configuration? Can/should I remove it fr

[2019-05-28 14:33] alainbryden commented on #180
Our organization has the same problem. We tried the full re-sync from the JIRA plugin post-install page instance (`Full - Rediscover your GitHub repositories and perform another full sync. Use this is you've changed the configuration on GitHub or would otherwise like to rescan all repositories.`) and it didn't help. I've also submitted a GitHub Developer Support issue.

[2019-06-06 15:13] jayKayEss opened #198 "Assignee is not mapped to email using triggers"
We'd like to transition tickets to "In Progress" when an engineer creates a new branch.

JIRA does not map my Github email address to my JIRA user when using the "Branch Created" trigger. The trigger fires and the ticket is transitioned, but the user is "Anonymous" and JIRA does not reassign the ticket.

The assignee *is* mapped as expected using Smart Commits, but we'd prefer to use triggers for

[2019-06-10 19:15] bmckinney00 opened #200 "Not Syncing with JIRA on Commit"
Whenever I commit to a feature branch in github that is in a repo that is associated with JIRA, the corresponding JIRA issues is not being updated.  The feature branch is named feature/JIRA-XXX-setup-integration.  The commit message is "[JIRA-XXX] #time 1h #comment Added new logic".  The corresponding JIRA issue is not updated with information whenever I push to GitHub.  If I go into JIRA -> Setti

[2019-06-13 09:01] yaeldaum commented on #180
We are having the same issue, I submitted a support issue. Hope to get an answer soon

[2019-06-13 13:45] alainbryden commented on #180
For what it's worth, the problem ended up resolving itself when I submitted a "Retry > Full" from JIRA at
 https://yourorganization.atlassian.net/plugins/servlet/ac/com.github.integration.production/github-post-install-page
It just took a long time (~6 hours) for the effects to become apparent.

[2019-06-13 16:01] nvmwill commented on #180
I got past this issue - should have left a comment in here to say this. I ended up uninstalling and re-installing the Github app in Jira and that did the trick. I did need to wait a while for the re-sync to complete (probably due to a scan of the long commit history) but all of the historical commits are now linked up to their tickets in Jira.

[2019-06-14 15:21] brianjmurrell commented on #183
So why close this issue then?

[2019-06-14 15:22] brianjmurrell commented on #183
Does "JIRA server" in the description refer to non-cloud (i.e. self-run) standalone Jira instances?

[2019-06-14 15:50] tcbyrd commented on #183
Yeh that's how I interpret Jira server. We are working on adding support for Jira Cloud <-> GitHub Enterprise Server next, but my understanding is DVCS will still be the way to support these workflows in Jira Server for now.

[2019-06-16 06:08] yaeldaum commented on #180
@alainbryden, thank you. A full sync actually solved this issue.

[2019-06-24 23:54] vkarri-invn commented on #196
Yes. it worked for me

[2019-07-01 18:29] bjchambers commented on #181
I'm interested in this too. I'd rather not require disabling private e-mail in order to use the Jira integration, especially since that would affect my account in all repositories, not just those that are integrated with Jira.

Any progress here?

If this is too difficult, would it be possible to allow an option like "Block command line pushes that expose my email" option but only affecting *publi

[2019-07-02 15:19] movieglu commented on #189
The same has happened to us.  For example, we had a Github commit comment such as "Implemented #MG-1234 to fix bug".

However the new Smart Commit rules no longer recognises Jira ticket numbers that are followed by a #. It only works if there is no #.

This appears to be a regression in the functionality. Unfortunately there is no easy way for us to search and replace 5+ years with of commits so t

[2019-07-02 17:36] eldenis opened #205 "Commits not showing up on JIRA"
We have several repositories in our organization. The smallest ones are syncing without issue, the biggest one however (couple of years and thousands of commits) doesn't seem to be sending all commit info to JIRA as only a handful of commits show up.

We've reached Atlassian and they've done their investigation on their end and conclude github's at fault since they're not getting all commit info.

[2019-07-02 20:55] fwdco commented on #205
We are also experiencing the same issue (not all commits showing, many missing) on our most critical repositories. Working with Atlassian as well who explained that the data coming from GitHub is the problem. We have also removed the app, reinstalled and tried full sync's multiple times. Each time we see a status of "complete" but numerous commits are always missing.

[2019-07-03 14:56] ACyphus commented on #205
Howdy @eldenis 👋

In the large repository, of the commits that are appearing in your Jira issues, are they on the default branch of the repository? Are the commits that aren't appearing on non-default branches?

[2019-07-03 16:17] eldenis commented on #205
Hi, @ACyphus! Some are on the default branch, some are on other non-default branches.

[2019-07-05 08:38] ACyphus commented on #205
Thanks @eldenis. Please can you [get in touch with GitHub Support](https://github.com/contact?form%5Bsubject%5D=Re:+GitHub%2BJira+Integration) and we'll be able to offer further assistance.

Including links and screenshots of the following will be very helpful for our investigation:

* 2 commits that are appearing in Jira
* 2 commits that are not appearing in Jira
* The Jira issues that the commit

[2019-07-07 19:02] mrcarriere commented on #191
@tcbyrd Chiming is as we miss this feature tremendously -- we would expect the following tickets to be marked as related to a "PR Created" event:

* Mentioned in the PR Body (not the comments, we're in agreement with the current thread so far)
* Mentioned in any commit title OR body in the branch being PR'd

[2019-07-09 12:05] SuriDotInc opened #206 "Smart Commits are not transitioning the state of the Jira issue"
We have integrated Jira with GitHub, when committed on GitHub, the commits are showing up in Jira but the transition of the state is not working, we tried use various states that we have and finally reaching out for the help. The log activity(Time taken for the work) is also not being applied on the Jira ticket, I made sure the email address used for GitHub and Jira is the same, and still no luck.

[2019-07-09 12:19] ciarancourtney commented on #206
I'm having the same issue, although I'm only testing the time feature. Is it possible tempo timesheets would interfere with native jira time logs?

[2019-07-10 08:24] ciarancourtney opened #207 "README link points to fisheye docs"
Link more relevant to us would be https://confluence.atlassian.com/jirasoftwarecloud/processing-issues-with-smart-commits-788960027.html

[2019-07-17 22:22] rodrigoaliste commented on #10
What about Jira Cloud to GitHub Enterprise Server?

[2019-07-24 14:28] scepticulous commented on #180
It seems as if @nvmwill and @yaeldaum were able to fix their issue by re-installing and re-syncing it.
Closing this for now.
Feel free to add a comment, if there is anything else to do related to this issue.

[2019-07-24 14:28] #180 closed

[2019-07-24 14:43] scepticulous commented on #192
Hi 👋 ,
thanks for reporting the issue.
We are going to discuss potential solutions for this issue. Once we have an idea what the best approach would be, we will comment here.

[2019-07-26 12:41] gjabouley-invn commented on #198
Same comment here, maybe at least replace Anonymous by Github, if it could be possible...

[2019-07-26 14:07] gjabouley-invn opened #209 "Configuration to prevent Jira issues transitions?"
Hello

we have deployed recently the integration on our Github Organization / Jira Cloud.

It seems it is not possible, on Github App side, to prevent JIRA issue status transition while keeping the integration enabled for a repository.

Is it possible to configure, on Jira side (maybe at workflow level), to prevent issue status transition when receiving event on API?

Reason is we have different k

[2019-07-31 17:47] jnraine opened #210 "Idea: Write Smart Commits parser"
We've received a number of bug reports around how [Smart Commits](https://confluence.atlassian.com/fisheye/using-smart-commits-960155400.html) data is extracted from text. For example, https://github.com/integrations/jira/issues/189.

Right now, we extract issue keys and other information a few big [regex patterns](https://github.com/integrations/jira/blob/0cb6270d7c7dea71c0a188013ddcbbadaa370452/

[2019-07-31 17:53] scepticulous commented on #210
I think that's a nice idea 💟

TBH I think doesn't seem more complex than maintaining nested regular expressions.

Would you mind adding a few more details to this issue? Like:
* A link to the Atlassian smart-commit docs
* the general smart-commit format as text
* The Goal of a good unit test coverage to avoid future regressions and to make it easy for documentation.
  * Subgoal: Supporting all cur

[2019-07-31 20:49] jnraine opened #212 "Interactive Smart Commits site"
Build an interactive site—like [rubular.com](https://rubular.com/)—to help developers learn how Smart Commits works in practice. If we go ahead with a Smart Commits parser (#210), it would take minimal effort to setup a static site, hosted on GitHub Pages.

![image](https://user-images.githubusercontent.com/300976/62247032-d23b9880-b399-11e9-9850-6e9fba03f15d.png)

This should help us debug or all

[2019-08-01 17:50] jnraine commented on #206
@SuriDotInc Could you post an example of some text that isn't behaving as you'd expect it? That should help us track down the problem. Thanks!

[2019-08-02 00:20] jnraine commented on #188
@adamniedzielski Hello! Thank you for the bug report. I was able to reproduce the bug parsing `[#LIEF-12155]` and have a fix in the pipe (#213).

However, I'm having trouble with the other case:

When using DVCS, I'm not able to reproduce the behaviour you describe. Do the steps below match your workflow?

1. [Configure DVCS Connector](https://confluence.atlassian.com/adminjiracloud/connect-jira-c

[2019-08-02 04:14] jnraine opened #214 "Improve GitHub => JIRA reliability"
When an event occurs on GitHub, it is sent to JIRA.

[code]

If delivery fails, either on it's way to the integration or to JIRA, the event data is lost.

For example, if a customer’s JIRA instance is in maintenance mode when a commit is pushed, the JIRA issues mentioned won’t be associated back to the commit.

Because there is no retry or visibility into these failures, this leaves the user wonde

[2019-08-02 06:25] jnraine opened #215 "Sync configuration"
The existing sync isn't configurable. While it works for the majority, it doesn't meet the needs of every user. This manifests in two ways: we _sync too much_ or we _don't sync enough_.

When a user installs the integration, it automatically syncs every repository (all commits on master, 50 commits on other branches). For organizations with many repos or repos with many commits, this can take hour

[2019-08-02 06:32] jnraine opened #216 "Sync progress"
The initial sync can take minutes or hours. Until it is complete, users migrating from DVCS won’t see data from the new integration. While #215 should reduce the sync times, we can improve the experience by telling the user how long they'll have to wait.

We can sync about 50 commits per second and can determine the number of commits left to sync using the API page count. With this in mind, we sho

[2019-08-02 06:55] jnraine commented on #158
## Potential solutions

- **Periodic sync.** Using integration UI, allow user to "watch" public repository. Once per hour, pull latest commits.
- **Subscribe to webhooks.** User integration UI, allow users to subscribe to public repository webhooks. This would "just work" with the existing integration but, at the moment, a GitHub App can't subscribe to webhooks outside of the org/user where it is

[2019-08-02 07:05] jnraine commented on #207
Good eye, @ciarancourtney! I'll have that merged shortly.

[2019-08-02 14:44] scepticulous commented on #214
Hey @jnraine : 👋
thanks for creating the issue 👍, I have a quick question:
Is Option 1 possible? Not sure if we can 'retrigger' a given webhook + adding this button to the user? I can imagine some potential ways, but only in conjunction with `3.`. Maybe I am missing something.

Did you mean "If Option 3 isn't feasible"?
1 and 3 is kind of ambiguous here, but I am assuming that you are referring to

[2019-08-02 15:31] jimgraham opened #218 "How to revert to DVCS Connector?"
Hello

Can you point to documentation on how to revert back to the DVCS Connector? This App does not work on our install and we have lost the ability to link Jira Issues to branches and PRs.

We are willing to try this app in the future when you have resolved the reliability issues (see #215, #216, etc) but we cannot go on with the loss of functionality this change has incurred.

Thanks,

[2019-08-02 16:34] keithalpichi opened #219 "Why does this app need "Read-only access to Organization members"?"
My company got a notification that the Jira app by Github is requesting updated permissions. The new permission is "Read-only access to Organization members". I've read the [permission documentation](https://github.com/integrations/jira/blob/master/docs/permissions.md) but nothing explains what this permission is used for. Can anyone explain? Thank you.

If it's not in the documentation I'll be gl

[2019-08-02 16:41] scepticulous commented on #219
Hi @keithalpichi ,
within the permission update Dialog, there should be a section with the title `Developer Note`, that explains why the additional permission is necessary.
I don't have the original text at hand, but it should be roughly about this:
`This permission is required to enable a new feature. Org admins can now manage subscriptions for any connected Jira instance.`

[2019-08-02 16:47] welps commented on #218
Assuming this is Jira Cloud.

Under https://community.atlassian.com/t5/Jira-articles/Everything-you-need-to-know-about-migrating-from-the-DVCS/ba-p/945910 , it states that you need to reach out to Atlassian to revert back to DVCS Connector.

[2019-08-02 16:58] keithalpichi commented on #219
Hi @scepticulous , thank you for the quick response.

[2019-08-02 16:58] #219 closed

[2019-08-02 17:47] jnraine commented on #214
@scepticulous option 1 won't be possible for a few months yet.

Oops. I got mixed up. Fixed!

---

I'm going to pause this until next week when we get timelines for webhook delivery API.

[2019-08-02 20:53] jnraine commented on #218
Hi @jimgraham. I'm sorry to hear the new integration doesn't link your issues to branches and PRs. As @welps mentioned, you can reach out to Atlassian to revert back to the DVCS Connector.

Could you send examples of strings that worked with DVCS Connector—including where they appeared: commits, branch, etc—but doesn't work with the new integration? We're working to fix outstanding bugs and your r

[2019-08-02 20:57] jnraine commented on #196
@bfallik Atlassian will remove it automatically eventually—if they haven't already—but you can safely remove it at any time.

[2019-08-02 20:57] #196 closed

[2019-08-02 20:57] #207 closed

[2019-08-02 21:21] jnraine opened #220 "Support lower case issue keys"
There have been a number of user reports around lower case issue keys.

### Reviews on Atlassian Marketplace ([link](https://marketplace.atlassian.com/apps/1219592/github-for-jira?hosting=cloud&tab=reviews))

![image](https://user-images.githubusercontent.com/300976/62398589-03e56880-b52e-11e9-9671-dd69bbd8efde.png)

![image](https://user-images.githubusercontent.com/300976/62398728-5aeb3d80-b52e-

[2019-08-02 21:35] welps commented on #205
Hello,

I'm not sure if the preference here is to piggyback or to open up my own issue, but we at @discovery-digital are using this plugin with Jira Cloud and have similar issues regarding syncing. There seems to be no log or feedback to work from on the Jira AND Github end.

We have 450+ repositories and at some point, the plugin stopped syncing completely. I was able to find a temporary solution

[2019-08-04 05:03] reillydavis opened #221 "Sync status stuck in "ACTIVE" for days"
It seems this is a widespread issue, but in migrating from the DVCS connector to this app, the sync never completes.

Atlassian nor GitHub seem to be able to provide any support. What's going on? Is anyone else having this problem?

![image](https://user-images.githubusercontent.com/4644614/62419655-6461cc00-b63a-11e9-9d92-8bcca4f84808.png)

[2019-08-04 05:05] reillydavis commented on #218
@jimgraham If you don't mind me asking, did your sync ever complete? Also, did you have any issues in getting Atlassian to revert back to DVCS Connector? They have told me it is not possible anymore... and I can't even get the GitHub sync to complete. Really put us in a bad place...

[2019-08-04 05:06] reillydavis commented on #216
Can it take days? Is there a timeout? How long should we wait before trying to uninstall/reinstall?

[2019-08-04 05:09] reillydavis commented on #205
@eldenis @fwdco Did you have any success in getting it working? Are you still stuck or were you able to get Atlassian to revert you to the old DVCS connector?

[2019-08-07 13:48] jimgraham commented on #218
Hi

We've attempted one more "turn it off / on" again to attempt the resync. The sync was running over the weekend and is still running as of five days later.

We have reached out to Atlassian but haven't heard back.

As for strings that used to work .. my understanding is that it's the sync that's either broken, or not completing, or we're not waiting long enough. Our usual workflow is to put the

[2019-08-07 17:08] jimgraham commented on #216
We're on multi-day. Is there any logging / additional info to know where we are in the process?

[2019-08-08 18:11] eldenis commented on #205
Not yet. I haven't had any replies from Github and the problem persists. My organization has decided to just stop using this integration and wait for further assistance from Github if they ever do reply.

@ACyphus are you still investigating this issue?

[2019-08-08 18:20] reillydavis commented on #205
@eldenis and others having this issue: Atlassian was able to re-enable the old DVCS connector for us until GitHub is able to fix all of these syncing issues.

See the article here: https://community.atlassian.com/t5/Jira-articles/Everything-you-need-to-know-about-migrating-from-the-DVCS/ba-p/945910 Taylor, the PM for this, has left his email in the comments. If you get in touch with him he can hel

[2019-08-08 20:48] jnraine commented on #188
@adamniedzielski @matisnape Hello! :wave:

Some good news: commits and pull request titles that reference issue keys like `[#JRA-123]` or `#JRA-123]` should now be correctly associated to those issues in Jira.

Branches that include lower case issue keys—like `feature/lief-12155-test-jira `—are not yet support but I've opened #220 to investigate it. Stay tuned!

[2019-08-08 20:54] jnraine commented on #189
@adamniedzielski @movieglu Hello! :wave:

Some good news: going forward, commits and pull request titles that reference issue keys like `[#JRA-123]` or `#JRA-123]` will now be associated to those issues in Jira. If you have historical commits you'd like associated with issues, [trigger a full sync](https://github.com/integrations/jira/blob/master/SUPPORT.md#sync-status-definitions) to pull those i

[2019-08-08 20:54] #189 closed

[2019-08-09 15:21] jnraine opened #231 "Improve error tracking"
When an exception occurs, it is sent to Sentry. The error appears in Sentry but it looks strange. For example, the stacktrace doesn't include any lines from the codebase and the breadcrumbs appear to include logs from different requests.

### Unhelpful stacktrace

[code]

If you have access to production Sentry, [see it here](https://sentry.io/organizations/github-integrations/issues/1144567048).

[2019-08-09 16:41] jnraine opened #232 "When an installation fails the error page is generic"
When there is a problem with the installation, you see a generic error message.

![62794609-60dea280-ba89-11e9-9ed2-efe96b827111](https://user-images.githubusercontent.com/300976/62794871-17db1e00-ba8a-11e9-8d42-1106ab88f241.png)

The error page comes from middleware that authenticates a request from Jira.

https://github.com/integrations/jira/blob/c903c49eed1a7bfce5e5e2ffece71158b1736f22/lib/fron

[2019-08-19 19:13] jnraine opened #243 "Set sync status to PAUSED on rate limit"
When a sync hits the GitHub rate limit, we schedule it to run again when the rate limit resets.

https://github.com/integrations/jira/blob/b560ca8e9905c99cd9f63b4b9ce558e9b60ecfd8/lib/sync/installation.js#L154-L160

When this happens, the sync shows as ACTIVE but isn't actively being synced. This makes it difficult to tell the difference between a sync that has died due to an unexpected reason and

[2019-08-20 16:40] jnraine opened #245 "Duplicate Jira API requests to check for ticket existence"
When editing an issue that mentioned a ticket (WS-1), I saw three requests to the Jira API to check if that one ticket existed.

Here are the logs:

[code]

Are we making unnecessary API requests?

[2019-08-21 12:31] #192 closed

[2019-08-21 12:33] tcbyrd commented on #192
Hey all. This has now been resolved in #246 and deployed to production this morning. Initial sync should no longer trigger transitions.

[2019-08-21 17:45] jnraine opened #247 "Improve logging"
## Background

Presently, the app provides three methods for logging:

- Probot's [`context.log`](https://probot.github.io/docs/logging/): available within webhook event handlers.
- Probot's [`lib/logger`](https://github.com/probot/probot/blob/master/src/logger.ts): available anywhere when [manually required](https://github.com/integrations/jira/blob/fefe535ff0aaf2234e9bba198711f0f82aa71fa5/lib/ji

[2019-08-21 18:04] jnraine commented on #231
Improvements made in the following PRs: https://github.com/integrations/jira/pull/236,https://github.com/integrations/jira/pull/238, https://github.com/integrations/jira/pull/239, https://github.com/integrations/jira/pull/241, https://github.com/integrations/jira/pull/242, https://github.com/integrations/jira/pull/242, https://github.com/integrations/jira/pull/244

Things are looking much better n

[2019-08-21 18:04] #231 closed

[2019-08-26 16:42] figmentbml opened #252 "PR Review Information not showing in JIRA"
I recently migrated my team to a managed JIRA instance and added this plugin.  While it appears that it is linking branches and PRs, it does not seem to be linking PR Review information (reviewer & state of review) in the Development Information panel.

[2019-09-10 16:54] bryancross commented on #10
Any update on this?  This 'Jira' seems to be getting pretty popular.....

[2019-09-23 21:55] zmoazeni opened #280 "Switch all bull jobs to use `removeOnComplete`"
It looks like you have to opt-in for bull (our queuing library) to delete completed jobs.

* https://github.com/integrations/jira/pull/278#pullrequestreview-292071108
* https://github.com/OptimalBits/bull/issues/840

This is a fun sized issue that can help us keep Redis's memory bounded.

[2019-09-25 10:41] Happy-Ferret commented on #206
@jnraine

I'm having the exact same issues. The Development Panel inside Jira actually behaves properly, anything else fails.

I can't get Jira Tasks to transition, and references to Jira tickets don't resolve in GitHub either.
i e in the GitHub Commit overview, commit titles/bodies will not actually link back to Jira. They'll show up as verbatim text. References do work inside GitHub Pull Request

[2019-09-27 08:58] Shukuyen commented on #11
Hey there, are there plans to implement this? We are thinking about switching from Bitbucket to Github and this is one pain point. Thanks!

[2019-10-10 10:43] SikindarMirza opened #290 "Bug regarding Time of ticket updation"
Assume a person A is in UK and the other person in India.
If UK person did some modification to the ticket at 11:30 UK time, the person in India see the history and find changes done at 11:30 which is wrong. he must see as per India time(IST)

[2019-10-21 08:01] phnakarin opened #291 "Jira Software + GitHub Enterprise + Bulldozer"
Hello there,

We bump into an issue with Jira Software when a bot user like Bulldozer updating or merging PR.

We are a GitHub Enterprise + Jira Software + Bulldozer bot (https://github.com/palantir/bulldozer\) user. We use Bulldozer for automatically merging and updating PRs if all checks passed, triggering by GitHub labels.

Our problem is when the PRs are done with Bulldozer. The PR statuses do

[2019-10-22 10:04] clmz opened #292 "Close Jira Issue by merging PR"
Hey guys,

is it possible to auto close a Jira issue (move it to column 'Done') by merging the respective PR in github?
I tried "close [JIRA issue id]" but this doesn't work.
Any other solution?

[2019-10-28 03:58] JustAndrewAFSA commented on #216
I don't think anyone has commented on this for a while.  It it possible to at least build a simple REST service or change the UI to indicate the sync is still running (and what it's currently processing). Something like that gives us a simple indication if it's stalled or what file it's currently processing. In a similar situation to the others where I think it's going to take days for this to run

[2019-11-15 17:51] brandonvin opened #296 "Can it keep the JIRA issue "in progress" when a PR is merged?"
Hi, sometimes a JIRA issue takes more than 1 pull request to fully resolve it. I'd like to be able to reference the issue number in each of these pull requests to fully document the work. However, the first pull request in the series that gets merged will immediately resolve the JIRA issue. In the cases when this is known ahead of time, is there a way to tell JIRA integration to keep it "in progre

[2020-01-10 10:31] bhushanrga opened #307 "GitHub and Jira Service Desk Integration"
While we integrate Jira and GitHub we can see development panel field in Jira Software projects issues, where we do everything.
But in case of Jira Service Desk projects it is not happening.
Is it possible to integrate Jira Service Desk with GitHub? like jira software.

[2020-01-14 14:48] takn opened #308 "Multiple organizations?"
Hi, is it possible to link a single app in Jira to multiple Github organizations?

[2020-01-15 09:00] daemon-ian opened #309 "Can I use this integration with Jira Server 8.2"
Hi, struggling to find if this works with Jira Server.

If it doesn't, can we get support for it?

[2020-01-15 18:06] mira-silhavy commented on #309
Same here, since last week plugin stopped working. Showing commits and PRs from before 7th January 2020, but newer are not being shown anymore.

[2020-01-28 08:53] pznamensky opened #310 "Show deployments in Jira"
Hi there,
We are using GitHub deployment api for our apps, and we've lots of stage environments.
It will be super-useful if deployments appear in Jira alongside with PR's, commits and branches. Is it possible?

[2020-01-31 14:21] fclairamb commented on #291
We do exactly the same thing at @habx and this is a major issue. Most of our pull-requests are now automatically merged (once updated with the base branch and passing the CI), and they all stay in the "OPEN" state.
This is a big issue, please fix it.

[2020-02-03 23:09] IvoBCD opened #311 "Deprecation notice for authentication via URL query parameters"
GitHub is sending me a deprecation notice for authentication via URL query parameters, by GitHub's Jira integration for Atlassian.

Please use the Authorization HTTP header instead as using the `access_token` query parameter is deprecated.

Depending on your API usage, we'll be sending you this email reminder once every 3 days for each token and User-Agent used in API calls made on your behalf.
Ju

[2020-02-06 16:56] DMonCode commented on #311
Getting these as well. Does GitHub have an official EOL for the `access_token` option?

I would love to switch away from DVCS but we run a Jira Server which doesn't seem to work with this plugin replacement.

[2020-02-10 17:36] sgress454 commented on #252
Having this issue as well, with the (now built-in?) Jira plugin.  The "reviewer" field in the Jira Pull Requests display never seems to be filled out.

![image](https://user-images.githubusercontent.com/553428/74174444-66da5980-4c4d-11ea-9e69-0b0a0fb3b0e6.png)
![image](https://user-images.githubusercontent.com/553428/74174452-6b067700-4c4d-11ea-9ccc-8989acf269c3.png)

^ this PR has reviewers added

[2020-02-12 19:48] IvoBCD commented on #311
@DMonCode We get this error with the "new" GitHub Jira integration, not with the DVCS connector.

[2020-02-13 16:17] royt-via opened #315 "Can't see organization repositories"
I'm part of an organization and I want to create a Jira<->Github integration to some of the organization's repos but I can't see them (on the Repository Aceess section, even though I have admin permissions on those repos) - only the ones I created on my account (not even those that I created on the organization account)

[2020-02-13 18:29] dnicholson-fastly commented on #311
Yes, I'm not sure how this will affect our Jira integration. We don't want to use basic auth, and there doesn't seem to be an option for that in the DVCS Connector setup if we did. How do we maintain the functionality with Jira Data Center if we're not on Enterprise GH?

[2020-02-17 20:22] chrisgagne opened #316 "Does not appear to update sub-tasks"
Our dev team uses Jira "sub-tasks" to track the progress against larger backlog items (Jira "issues"). It'd be great if I could issue a Smart Commit against a sub-task rather than just an issue.

[2020-02-20 09:53] Leksat opened #317 "Ability to display Github issues in Jira"
Basically, the same list as it's currently exist for PRs, branches and commits. But for issues.

[2020-02-20 09:54] Leksat commented on #317
I can make a PR, if this feature has chances to be accepted.

[2020-02-20 16:07] dchitiva-ccracks commented on #317
Our commits were not showing in Jira from the past day or so.

[2020-02-20 20:34] dprski33 opened #318 "Pull Requests/Branches no longer visible in Jira?"
Now that the old DVCS connector is gone, we tried setting up the new Github app in our Jira Cloud instance but it is not working.

There are no logs or error messages I can reference.  The 'Development' section of our Jira tickets simply no longer appears and the Pull Request links are no longer there.

This is most inconvenient.

I uninstalled the app from our Jira instance and went through the c

[2020-02-24 17:05] clementlecorre commented on #291
up!

[2020-02-25 12:59] pjoe commented on #292
I think the notation is something like:
[code]
Where `done` should match the state the issue should go to

[2020-02-25 15:16] nickangtc commented on #252
Same is happening for me as @sgress454 - no reviewer info pulled through despite there being a reviewer selected on GitHub.

![image](https://user-images.githubusercontent.com/5674362/75260517-01a86b80-57ea-11ea-8886-9cae96cc4d07.png)

I don't remember ever seeing this column being populated on our Jira Cloud instance. Either something is broken or it just doesn't sync this info

[2020-02-26 08:56] nickangtc commented on #252
Hi @tebriel @zmoazeni, I'm inferring that you're the maintainers of this repo from the commit history. I was thinking to take a stab at this some time this weekend. Is a PR for this going to be welcomed?

[2020-02-26 16:28] #103 closed

[2020-02-27 00:41] obuslovich opened #320 "Show Jira information in GitHub"
How to configure Github for JIRA so that Jira issue last comments and Status are shown in the linked PR in GitHub?

[2020-03-02 16:44] hnioche commented on #318
It was working well for us on Jira cloud, but a few week backs it started to be totally random. It is now less and less reliable. Sometime just showing one of the pull request attached to a ticket, sometimes none at all. I haven't found a way to troubleshoot this yet and couldn't find a common pattern that could be the root cause.

[2020-03-05 01:29] fclairamb commented on #291
@zmoazeni can you please have a look at this?

We're progressively doing most of our merges through bots and this is creating a clear disconnect between the repo state and what JIRA sees of the repo. In other words, your integration is currently reporting a bad state, which makes it look like it's broken.

Is there any good reason for doing this? Bots are definitely a valid reason to handle pull-r

[2020-03-05 15:37] zmoazeni commented on #291
@fclairamb This has already been added to our list to prioritize. Unfortunately it not at the top of the list. I appreciate this is a pain point for you and your team, but pinging contributors to this repository does not increase its priority.

[2020-03-11 13:55] zmoazeni commented on #252
@nickangtc you are correct both of are currently actively maintaining this integration. I talked this over with the team internally and we would be very happy to review a feature for this. Thank you for volunteering!! ❤️

There are multiple ways to approach this. One is to simply do the work and open a PR. But if you wanted to discuss the implementation earlier feel free to ask any questions here

[2020-03-11 18:48] TheJessle commented on #119
I'd like to know if this issue is, or is planned to be, fixed soon. I've got a team that used this integration prior to the changes and I've revived the connection. Just need to know what I'm reporting to them as far as work process.

[2020-03-12 11:05] nickangtc commented on #252
Thanks @zmoazeni for getting back with some suggestions on how to approach this, knowing that I haven't contributed to this project yet. Appreciate it.

Currently I haven't looked into the code yet (I just saw the stack, felt like it's probably doable and wrote my comment). Depending on whether it's a big task, I'll pick and approach and make sure to ping you both. Will try and work on this for a

[2020-03-24 18:34] makshark commented on #119
Hi, any progress on this one? It is really needed for our team, as we decided to migrate from bitbucket to Github. Thx.

[2020-04-01 03:29] AparnaJN opened #330 ""Get Started" From Manage Apps in JIRA leads to "App is not responding" page."
Hello, we used to have Github integration working without any trouble on our JIRA account without any trouble. Recently the integration seems to have been broken. I tried installing it again from the Marketplace. While trying to configure the app, I end up here (screenshot below). I have tried a couple of times to uninstall Github app and reinstall. But doesn't seem to work. Appreciate any help th

[2020-04-15 17:26] hobhouse commented on #191
Hi @tcbyrd, just wondering if there was any plan to implement mentions in the PR Body being linked into Jira? It's a feature that I know will be extremely useful at my organisation

[2020-04-17 22:41] MattFoley opened #338 "Labeling tickets by repository which opened the pull request?"
We have a large microservice architecture, and I would very much love to tie all stories to which services were modified automatically.

Is it possible to add a label to any ticket signifying which repository had been linked to the ticket? The goal is that we could then search and analyze JIRA based on those repositories.

[2020-04-20 14:20] #280 closed

[2020-04-24 02:08] matt2000 commented on #206
Smart commits aren't working for me either, e.g.,
[code]

[2020-04-24 14:55] MythosRaconteur commented on #198
Would love to see this as well... We know who created the branch, it would be nice to have that person assigned to the ticket.

[2020-04-28 20:39] zulfisync commented on #252
I would love to know the end result.

[2020-04-28 21:36] ankurja commented on #252
When is this expected to be fixed ?

[2020-04-29 11:13] nickangtc commented on #252
Sorry for the silence! I faced some difficulties setting up my dev env and didn't push through. This issue is up for whoever wants to take it forward.

[2020-04-30 06:13] felipe-gdr opened #345 "Integration is not sending MERGE_COMMIT flag for merge commits"
According to the [Jira documentation](https://developer.atlassian.com/cloud/jira/software/rest/#api-group-Development-Information) for DevInfo, integrations can mark a commit as a merge commit while sending data via the `POST /rest/devinfo/0.10/bulk` endpoint.

[code]

This information is particularly useful for the new automation for jira feature, as we use it to decide whether rules should execu

[2020-04-30 15:25] zmoazeni commented on #345
Hi @felipe-gdr! Thanks for starting an issue!

Can you help me understand, how is this information displayed in Jira? What is the utility of marking merge commits?

Some screenshots would be wonderful!

[2020-05-01 01:41] felipe-gdr commented on #345
Sure @zmoazeni :-)

Merge commits are displayed differently in the devinfo panel. This is an example of a commit made from Bitbucket, which is sending the merge commit flag:

![image](https://user-images.githubusercontent.com/3858115/80774445-6a241800-8ba0-11ea-891c-a996661edc56.png)

Also, identifying a commit as a merge commit is important in the execution of automation rules. Users will likely

[2020-05-01 13:13] zmoazeni commented on #345
Thanks @felipe-gdr! That was great!

Can you expand on this a bit? Do you have a small example of an automation and how it would switch behavior based on this metadata? Is there an example scenario you have in mind?

[2020-05-01 19:22] Piedone opened #351 "Generate pull request title from issue title"
The current "Create pull request" button available under a JIRA issue will create a GitHub pull request where the PR's title will be generated from the branch name. E.g. for a branch named "issue/KEY-123" the PR title will be "Issue/key 123" (not the different casing and lack of dash).

Instead of this (possible as an option), the PR's title could come from the title of the issue, concatenated wit

[2020-05-03 21:11] showduhtung opened #352 "Attach existing branch to ticket, attach multiple branches to ticket"
Many times during development, a ticket might be multi-purposed and might need multiple branches. Also, sometimes needed branches already exist, but are not yet associated with a particular ticket. It would be incredibly helpful to have that as an option. Doing what's recommended here:
https://stackoverflow.com/questions/25789652/jira-assign-an-existing-git-branch-to-an-issue

can introduce errors

[2020-05-03 23:12] felipe-gdr commented on #345
Sure @zmoazeni !

First of all, if you're not familiar with Jira Automation already, I recommend having a look at [this page](https://www.atlassian.com/software/jira/features/automation) ;-)

So, let's suppose a user creates an automation rule that will add a comment containing the commit message to an issue every time a commit containing the issue key in its message is pushed. Imagine they want t

[2020-05-05 00:18] gazal-k opened #354 "Identifying JIRA tickets in conventional-commits"
We use https://www.conventionalcommits.org/en/v1.0.0/ in our team.

So our commits look like:
[code]

We see that if we do `re #[JIRA-ID]` in the commit, then it links to JIRA when we create a PR. But we'd prefer not to use the `[]`

[2020-05-05 15:17] zmoazeni commented on #345
Interesting! Thanks @felipe-gdr. Let me run this by our team and get a ✅ - I think your solution is pretty lightweight as it just sets the metadata, and they can decide to use or ignore it. Thanks!

[2020-05-05 16:02] willsmythe commented on #345
Should the suggestion described in https://github.com/integrations/jira/issues/144 also be considered?

[2020-05-07 12:24] bochen87 commented on #318
nothing works. I've installed, uninstalled. Seems like I'm not the only one. Anybody investigating this?

[2020-05-08 05:42] felipe-gdr commented on #345
@willsmythe we're discussing #144 internally and haven't made a decision. I believe you can keep #144 on the backlog for now and I'll write an update on it once we've decided on it.

(btw: I'm an Atlassian employee doing work in DevInfo)

[2020-05-08 13:41] willsmythe commented on #345
@felipe-gdr - can you help us understand the possible impact to existing Jira customers with this change? Main concern is that we break or change behavior with a customer's existing automation rules when this new flag starts flowing across.

[2020-05-10 23:21] felipe-gdr commented on #345
Sure @willsmythe .
We haven't yet rolled out the integration between GitHub and Jira Automation. Customers are not yet using this feature, so there will be no impact.

[2020-05-13 21:06] EN255 commented on #317
Has this been resolved?

[2020-05-15 18:53] HarryWeppner commented on #318
@tebriel is there anyone who could investigate - we have also just hit this issue and are "cold in the water" damaging GitHub's reputation pretty badly.

[2020-05-15 19:00] tebriel commented on #318
I'm sorry to hear that y'all are experiencing issues. I'd recommend creating a support ticket (support.github.com) for a more thorough investigation but if you can tell me the name of an organization/repo that I can go investigate, I'll take a quick look.

/cc @HarryWeppner

[2020-05-15 19:01] HarryWeppner commented on #318
@tebriel we have - and let's say it was less than helpful :-/ Our org is `c3-e`

[2020-05-15 19:03] tebriel commented on #318
@HarryWeppner ahh gosh I'm sorry, I've actually been actively working on your issue this week. you have a repo that has over 100k Issues (or maybe PRs) that causes a timeout with an internal API we use during the full sync, so we get stuck about halfway through. Are you saying that new commits/pull requests are also not reflected in jira?

[2020-05-15 19:32] HarryWeppner commented on #318
@tebriel nope - new PRs are not reflected in Jira for a while now. Is there any control what "full" sync actually means, i.e. can branches / PRs be excluded in some way, e.g. by naming convention or date closed.

Anything I can help with on our side?

[2020-05-15 19:43] tebriel commented on #318
@HarryWeppner The only control at this time is to limit the list of repositories the github app has access to. You can modify the list under your organization settings / installed apps / Jira. You could then try to run a full sync from within your jira application settings on jira.com. I'm going to go poke at the database and see if I can tell why you're not receiving updates for those new pr/issu

[2020-05-15 20:07] HarryWeppner commented on #318
That control isn't fine-grained enough - bummer. Let us know what you find out. Thanks!

[2020-05-15 20:30] tebriel commented on #318
@HarryWeppner it's concerning, I'm seeing many HTTP 202's (accepted) from the Jira Devinfo Bulk API for your installation. Project Key `PLAT` seems to have over 11,000 pieces of data synced. Can you create a PR with a ticket in the title and see if that works? something like `[ASDF-123] this is the title of a PR` (note that the ticket must be valid).

[2020-05-15 22:23] tebriel commented on #318
@HarryWeppner I've resumed your failed sync, it seems to be going through that very huge repo (though very slowly). I'm on PTO this coming week, hopefully this resolves at least some of your issues.

[2020-05-15 23:24] HarryWeppner commented on #318
@tebriel thank you so much for digging into this - just created a PR #20461 in our repo.

[2020-05-16 00:35] HarryWeppner commented on #318
Nothing updated yet...

[2020-05-16 07:27] tebriel commented on #318
@HarryWeppner disappointing. I just looked and your sync is still in progress, I'm holding out hope there's something I don't understand about the sync being crucial for the webhooks that I don't understand yet. Anyways, let's see what happens after your sync (hopefully successfully) completes.

[2020-05-16 22:55] kauanmocelin commented on #206
Same to me, comments work but transitions not :(

[2020-05-19 10:03] mseko opened #365 "Received an email from Github with the subject "Deprecation notice for authentication via URL query parameters""
Hi.

I received the email from GitHub with the subject line in the title.

The content of the email was as follows.

Please use the Authorization HTTP header instead as using the `access_token` query parameter is deprecated.
Depending on your API usage, we'll be sending you this email reminder on a monthly basis.

I am using this integrating application.
Did this application solve the problem desc

[2020-05-22 06:29] danielfx90 commented on #182
@tcbyrd what would happen if the status is set to `UNKNOWN`? Will it prevent the issue from transitioning but at the same time add it to the issue?

Have there been any improvements in JIRA's API to tackle this issue better now?

[2020-05-25 05:31] naru1234567 commented on #206
Same with me. Comments working but transition not working

[2020-05-25 20:52] EduSemensati commented on #181
+1

[2020-05-26 09:52] Divya-Dias commented on #206
Hello @kauanmocelin  Could you please share a screenshot of your workflow? Is done a status in your workflow?
I am having the same issue reported here and can't seem to get the transitions working. Everything else - comments, time log and commit info appear in JIRA as expected.

[2020-05-26 12:00] kauanmocelin commented on #206
@Divya-Dias create a new project using Scrum template, my project follows this template as default. Status is: todo, in progress and done.

[2020-05-26 12:10] Divya-Dias commented on #206
@kauanmocelin That wouldn't be possible as we have complex workflows in place. Is your org using the nextgen project or classic?

[2020-05-27 12:12] #218 closed

[2020-05-27 16:47] tebriel commented on #318
@HarryWeppner I see the sync completed successfully, have you noticed any improvement? Or are things still not communicating?

[2020-05-27 18:21] HarryWeppner commented on #318
@tebriel I hope you enjoyed your vacation - I am happy to report that things are back to normal. Thank you so much for your efforts!

[2020-06-04 03:03] tpiron commented on #309
Looks like it doesn't based on the readme:

This app officially supports GitHub.com and Jira Cloud. Support for GitHub Enterprise and/or Jira server may be considered in the future.

[2020-06-18 08:06] igowthamr opened #369 "Drag and drop feature in system dashboard"
It would be good to have if we can able to drag and drop the items in system dashboard. It is difficult to accomplish the tasks by priority of story setter. But it should be useful the assigned is also provided with an option to priortize this

[2020-06-19 20:17] ivan-californias commented on #182
Hi, any update on this issue?

Following up on the conversation, I rather not have the Pull Request be sent to Jira while it is a draft until it becomes ready for review.

[2020-06-19 20:20] joseluiscadena commented on #182
agree with last comment, is there any update?

[2020-06-23 22:42] Drewpeifer opened #372 "Pull Requests are listed in JIRA as status = "Declined" instead of "Closed""
I am not sure if this is intended, but our Pull Requests are showing up as "Declined" after the PR has been approved. After approving the PR, we then merge the branch, the branch is deleted, the PR is closed, and that's when we see the status in JIRA change to "Declined".

![PR-appears-declined](https://user-images.githubusercontent.com/30933/85472151-795f8a80-b57f-11ea-8c55-b6e4fabdc0a8.png)

If

[2020-06-23 23:42] jadametz commented on #311
@tebriel (just going off commit history - apologies if you're the wrong person here)

This is the first time I've personally looked into this integration for our (Invoca) org and was relieved to see it's maintained by GitHub! Any updates here you might be able to provide?

[2020-06-23 23:46] tebriel commented on #311
This is an issue with Jira https://jira.atlassian.com/browse/JSWSERVER-20414 and is being worked on by their team. Sorry for the short response, on my phone. Tag me if that doesn’t answer your question!

[2020-06-24 18:42] Drewpeifer commented on #372
I also tested this by opening a PR myself then closing it a moment later, and the status immediately changes to "Declined" in JIRA. So it doesn't seem related to a workflow / process issue, more likely just a clarification needed in the response from git / the plugin's display value in JIRA.

[2020-06-30 12:49] brantburnett commented on #291
I understand and appreciate that lots of comments from lots of people don't necessarily help. But I'd like to point out that this is, in my opinion, not a missing feature but a regression. The previous form of JIRA/GitHub integration handled merges performed by bots just fine. We switched to this new integration per the direction of JIRA, and now this is broken. Please take this into account in yo

[2020-07-02 15:31] usmonster opened #373 "Implicit autolink references"
This integration requires that [issue references](https://github.com/integrations/jira#link-issues-in-github) be surrounded by square brackets (`[]`) in order to link back Jira. This is a source of friction, and it works differently than other implementations of equivalent features (e.g. GitHub, Bitbucket, [GitLab](https://docs.gitlab.com/ee/user/project/integrations/jira.html#jira-issues), ...),

[2020-07-04 14:54] techgaun commented on #252
Any update on this? I'm looking for this feature as well and if no one is working on it, I may be able to get the work done for this.

[2020-07-05 19:04] Luke-Py-Walker commented on #252
I'm investigating it right now, checking in with work on Monday to see if they got an ngrok sub so I can really start playing around. (the app uses subdomains, a premium ngrok feature)

[2020-07-06 11:30] mrcarriere commented on #119
In case the team working on this isn't aware: this is functionality that **used** to exist, and was lost at some point. Please add this feature back.

[2020-07-06 13:52] tebriel commented on #252
@Luke-Py-Walker the tooling does use subdomains, but you can use ngrok without it, you'll just need to update your jira app and your .env file every time the random domain that ngrok generates for you changes. (This occurs every time you restart ngrok).

[2020-07-08 02:04] Luke-Py-Walker commented on #252
Hey @tebriel @zmoazeni ,

After my investigation, I've determined that most (if not all) of my changes will be made in `/lib/github/pull-request.js` and `/lib/transforms/pull-request.js`. I'm currently speccing out the best way to do this using [this link](https://developer.atlassian.com/cloud/jira/software/rest/api-group-development-information/#api-devinfo-0-10-bulk-post) as a reference for the

[2020-07-08 15:11] tebriel commented on #252
@Luke-Py-Walker that's the best document I have on using the jira API. It's the one I reference when I have questions (though it usually leads to more questions). Sorry I don't have any more/better details.

[2020-07-14 13:33] zmoazeni commented on #291
I don't think anyone has shared the issues were trying to resolve on the engineering side for this concern. If not, I'll try and summarize.

The main issue is that the Jira integration itself is a "bot". And we don't a single bot's action (like adding a comment) to trigger a webhook delivery storm because the organization has several bots that happen to be interacting with each other.

I believe t

[2020-07-14 13:41] brantburnett commented on #291
@zmoazeni

I definitely understand your point as regards comments. I.e. if two bots are both set to auto-respond to all comments, you'd get an infinite loop. And there are probably many other, subtler cases.

However, I'd argue that the act of merging (which is inherently a one-time action) is an exception that is causing significant problems. I don't see what the bot-filter couldn't be dropped fo

[2020-07-16 21:53] zmoazeni commented on #291
@brantburnett Thank you for that perspective and thank you for sharing this 🙏 . One thing that would really help my team with this effort is if someone can put together a list of actions that we think could be above this line (processed like normal) and what should clearly below the line (ignored).

I'm asking that because this particular effort within the Jira integration is much lower priority c

[2020-07-17 12:13] brantburnett commented on #291
For our purposes, your proposed UI toggle would work. We're not doing anything with bots in our system that would cause a storm, I don't think. It's a good idea for a way to organize a safe experiment.

Also, here is a list of my thoughts on various `pull_request` actions. The focus here is on handling actions which related to that information kept "synchronized" in JIRA and displayed on the UI. I

[2020-07-17 21:21] zmoazeni commented on #291
@brantburnett I love your work here. I'm not with Atlassian. I'm with GitHub, but I like the way you're laying it out here.

What I would like to do is ask for other folks who have participated in this thread and are also motivated to get this changed to help us refine what you started. Is EVERYONE in agreement? Can you all help me by playing devil's advocate to try and figure out if these scenari

[2020-07-17 21:35] zmoazeni commented on #252
@Luke-Py-Walker You can also ask us development questions either in this thread or in a new one. "Discussions" is now available for this repository so that's also an option.

If you would prefer to ask us privately, feel free to spin up a repo and invite myself to it and we can talk there too.

[2020-07-17 22:13] techgaun commented on #252
It would be greatly appreciated if we could utilize the open platform here or Discussions. Looking forward to getting this feature in. Thanks all for working on this

[2020-07-19 23:06] Luke-Py-Walker commented on #252
@techgaun @tebriel @zmoazeni I made a discussion for solving this issue at #375. Been busy this past week with traveling and work but I'm ready to knock this ticket out!

I am having trouble with set-up tho 😅 I mentioned my issue in the discussion.

[2020-07-20 11:03] ey51 opened #376 "Release Notes with GitHub commit and pull request links."
Currently, the Jira Release notes output in the following format:
[PROJ-123](link) Jira Issue Title
It is great for internal release notes, but not so nice if you use this plugin to integrate Jira to GitHub.

I propose to add a release notes format, in which each item links to the GitHub #issue, commit(s) and/or pull requests created by the GitHub integration plugin.
[Github Link] Jira Issue Title

[2020-07-20 12:22] ey51 commented on #376
Similar to what this project is doing https://github.com/github-tools/github-release-notes

[2020-07-22 14:45] lsowen commented on #365
Looks like slightly more info on #311

[2020-07-27 07:04] yinchuandong opened #378 "Cannot see development panel in Jira after installing"
Hi there,

I followed the installation steps in readme but I cannot see development panel in jira issue. Can anybody review the whole installation process in Jira? Jira had a big release in UI this year and it might break something. Moreover, I saw many people met the same issue in Jira App Marketplace. Hope you guys can make it easier for people to start. Thanks in advance

[2020-07-31 08:20] samaronybarros commented on #182
Hi, any updates on this issue?

I also agree with @ivan-californias.

[2020-08-11 13:22] usmonster opened #381 "Improve documentation on workflow transitions"
I want my team to be able to take advantage of workflow transitions without having to learn Smart Commits.

I saw after setting up the Jira integration that this is already the case for one of the projects—transitions just work as expected based on workflow states—but it didn't work with other projects.

It took me way too long to confirm the reason: someone had previously enabled [Workflow Trigge

[2020-08-11 21:46] usmonster commented on #292
You can also set up a [workflow trigger](https://confluence.atlassian.com/adminjiracloud/configuring-workflow-triggers-776636696.html) directly on the transition in your project's Jira workflow. I wish it were something automatically configurable, but I opened #381 to at least document this as a possibility (even though it's not a feature specific to the GitHub integration).

[2020-08-11 22:48] shilpaairi commented on #292
Hi there,

You can use [Automation for Jira](https://support.atlassian.com/jira-software-cloud/docs/automate-your-jira-cloud-processes-and-workflows/) for automating your workflows across multiple products. Please refer to [this](https://community.atlassian.com/t5/Automation-articles/New-automation-triggers-across-Jira-Cloud-Bitbucket-GitLab-amp/ba-p/1337351#U1378603) for a quick guide on Git trig

[2020-08-13 11:45] zmoazeni commented on #291
Hey folks. I know this is top of mind for a few customers. I just want to make sure to bump this thread to have you all help us internally.

I want to be clear, this is still not on our immediate priority roadmap. And my team can't move forward on it until it's closer to the top of that list. That may change, but I would wager that unlikely any time soon.

* @brantburnett how confident are you tha

[2020-08-24 09:06] conf commented on #220
This. Please, add support for lower-case issue keys, it's just more tiring to type a branch name like `JRA-123-do-something-important` instead of `jra-123-do-something-important` (and also such a branch name feels weird).

[2020-08-24 15:08] lukasnovy opened #383 "Pull request is not linked when title is edited"
Hi,
I've a pull request with some initial title (without jira ticket). Later ticket is created and I edit PR label to contain that ticket number. But jira is not detecting that Pull request.

I believe that pull request integration with jira is not triggered when title is edited, probably only when PR is created.

[2020-08-27 08:59] Skleni commented on #311
@tebriel The issue mentioned above is fixed now, but we're still getting the notifications.

[2020-08-27 13:25] tebriel commented on #311
@Skleni I've forwarded the issue on for prioritization, unfortunately I cannot promise any timelines for investigations at the moment.

[2020-09-14 11:49] jefersonchaves commented on #183
Hey, @tcbyrd:  is there a hope to get Jira Server with GitHub Cloud?

[2020-09-14 18:12] tcbyrd commented on #183
This repo is for an integration that connects to the DevInfo API that replaced the DVCS connector in Jira Cloud. To my knowledge, the DVCS connector is [still supported in Jira Server](https://confluence.atlassian.com/adminjiraserver080/linking-a-bitbucket-or-github-repository-with-jira-967896966.html), and would be the recommended solution in that scenario.

[2020-09-16 00:37] justinoue commented on #220
Bumping this as I just realized this is why I thought the new app integration wasn't working at all.

[2020-09-25 16:11] JayNakrani commented on #292
@pjoe : Have you seen this working?

I have tried several different things like `JRA-XYZ #resolve`, `JRA-XYZ #close` and `JRA-XYZ #finish-work` but it has never worked.

Looking at the code, I am not 100% sure if the action even triggers on `pull_request.merge` action because it's missing in https://github.com/integrations/jira/blob/f2c3568254d04a5439a469764863e2f4eb7b4d99/lib/github/index.js#L28

[2020-09-28 05:23] pjoe commented on #292
IIRC, for me it worked when adding a comment to the PR (as part of merging it). The `#state` much match the state you want the issue to go to, like the column on a board.

[2020-10-07 11:36] RiaanVR commented on #182
Any further feedback on this issue @tcbyrd? I stumbled upon this today and have the same workflow as described by the original author, and am fully on board with the solution proposed by @ivan-californias, what is required to move this forward?

[2020-10-07 12:24] patrick-tresp commented on #182
Hi there,
we also would like to have drafts not to be sent to jira since this is misleading our tracking.
A Draft is sometimes kept for multiple days or even weeks and it keeps sticking to a state that implies an active PR.

Looking forward to it!

[2020-10-07 17:01] alittle-csdisco commented on #311
We're using Jira Cloud with this integration and are still seeing this notification pop up. Is there anything we can do?

On October 6th, 2020 at 22:14 (UTC) your application (JIRA) used an access token (with the User-Agent Apache-HttpClient/4.5.12 (Java/1.8.0_265)) as part of a query parameter to access an endpoint through the GitHub API.
Please use the Authorization HTTP header instead as using

[2020-10-07 20:59] tebriel commented on #311
@alittle-csdisco are you sure that you are using this app: https://marketplace.atlassian.com/apps/1219592/github-for-jira?hosting=cloud&tab=overview? We do not use java nor Apache in this application, so I'm wondering if maybe that's another jira+github connector.

[2020-10-08 05:20] Skleni commented on #311
Weird...we're also still getting the notification. This is the app we use:
![image](https://user-images.githubusercontent.com/10420514/95417889-76be5080-0936-11eb-82a7-1dce4649b3b5.png)

 The Marketplace listing link points to the URL you posted above.

[2020-10-08 17:33] bxk-sonavex commented on #311
I am using the same app and get a similar notification email recently, which does mention Apache.

[2020-10-08 19:12] tebriel commented on #311
@bxk-sonavex Looking at the repository you listed in that email (299439409) you have two webhooks installed on that repository. The webhooks are owned by the Jira Application, but as far as I know we don't use them. I've reached out to a coworker with some history on the application, I'm wondering if maybe we used to install repo webhooks but no longer do so.

[2020-10-08 19:22] tebriel commented on #311
@bxk-sonavex on second inspection, the Jira app that installed the webhooks is owned by `sonavex` and is separate from our Jira application. Can you look under the `sonavex` account and see if you have an OAuth application named `JIRA` owned by that account?

[2020-10-08 19:30] bxk-sonavex commented on #311
@tebriel Right, the email was sent to the `sonavex` account I am managing.  And yes, there is an OAuth application named `JARA`, on the "Authorized OAuth Apps" tab
![image](https://user-images.githubusercontent.com/19493436/95504562-c9f9c880-0961-11eb-865f-f98baf1666ec.png)

And there is a `Jira` on the tab "Installed GitHub Apps" as well.

[2020-10-08 19:30] alittle-csdisco commented on #311
@tebriel @bxk-sonavex that's exactly the setup we have.

On the JIRA Cloud side:
* [GitHub for Jira](https://marketplace.atlassian.com/apps/1219592/github-for-jira?hosting=cloud&tab=overview) app installed (v1.1.1-AC) com.github.integration.production
* No DVCS Connector Accounts/connections

On the GitHub side in our GitHub org:
* Under "Installed GitHub Apps": [JIRA](https://github.com/marketpla

[2020-10-08 19:33] bxk-sonavex commented on #311
@tebriel Then what should be done on our side?

[2020-10-09 06:04] Skleni commented on #311
Same setup here as well.

[2020-10-09 12:37] nrafal opened #391 "Can't see anything on JIRA Get Started Page"
Hi! I can't install JIRA add on. I've stared process from JIRA didn't work, started from GitHub, same. I have error on Get Started Page in JIRA - I see empty page.

This is what I see in Firefox debugging tools, 404 error while loading APP from jira-integration-production.herokuapp.com
![obraz](https://user-images.githubusercontent.com/9462330/95583720-d69f1f00-0a3c-11eb-96a4-efa7c772f7af.png)

[2020-10-09 12:47] nrafal commented on #391
I've already tried reinstalling a couple of times and it didn't help

[2020-10-09 13:21] tebriel commented on #311
I'll try to give a little backstory (given my limited knowledge on this) to help you arrive at the desired state:

When Atlassian first wrote a GitHub to Jira connector, it was something that users manually created and installed. You made your own OAuth App and pointed the webhooks and setup at your custom Jira URL. This app allowed Jira to configure GitHub Repo webhooks to send data from GitHub t

[2020-10-12 00:01] daveliao commented on #205
I'm having the same issue with Jira Cloud not re-posting comments from GitHub.com.

On the bright side, I can see commits inside Jira issues, so developers aren't totally lost. ¯\_(ツ)_/¯

[2020-10-13 00:18] nterbogt opened #394 "PRs not displaying in Jira"
Came across an issue where a PR wouldn't display in Jira.

The PR was created with the github-actions bot as the author and wouldn't be detected. If a real user commented on the PR, it would show up. If a real user changed the status, it would show up. etc etc.

Changing the author of the PR to a real user fixed the issue. We did this by not using ${{ secrets.GITHUB_TOKEN }} in the action and chan

[2020-10-15 17:42] regicsolutions opened #395 "Bitbucket Support"
Any plans to support Bitbucket?

[2020-10-20 17:32] jamesmcguirepro opened #398 "Issues not linking in GitHub PR's"
If I link more than a handful of Jira tickets in a GH PRs, the bot will only update the first few.

Ie:
If I entered these in a PR description:
[code]
Not all of them would be converted to links.

[2020-10-26 14:07] justDMNK commented on #395
This is the Jira integration for and from GitHub. And Bitbucket is natively integrated in Jira so why do you need an extra integration?

[2020-11-04 08:54] arieteter opened #402 "Support "Create branch" link form Jira"
The link in Jira sends to Bitbucket instead of Github

[2020-11-08 18:50] abichandani commented on #391
I am also facing the same issue. Tried reinstalling many times. Didn't work!

[2020-11-09 13:05] nrafal commented on #391
@abichandani I've written to support using marketplace https://marketplace.atlassian.com/apps/1219592/github-for-jira?hosting=cloud&tab=support and they have resolved my issue pretty quickly, although I am not aware if it was a general fix or only my case.

[2020-11-13 10:29] mat007 commented on #394
I think I just hit the same issue.
Here is probably the cause for this:
[code]
That’s in https://github.com/integrations/jira/blob/master/lib/github/middleware.js#L63

I don’t understand why a bot should be handled differently than a regular user?

[2020-11-20 17:00] sidhuko commented on #182
This feature should be configurable by the user. I dislike drafts triggering code review. It breaks peers reviewing each others work.

[2020-11-25 06:33] datacore-ssahay commented on #220
Our team has also requested for this case sensitivity to be fixed. Are there any plans to fix this?

[2020-11-25 12:47] cfragaa commented on #191
hey @tcbyrd, do we have any news around this one?

[2020-12-08 20:15] taylor-resi commented on #310
+1

[2020-12-10 14:50] VolodymyrFesenko commented on #394
This also results in a PR status update not being reported back to Jira if **Bot** merges the PR. Jira shows the linked PR as **open** even though it has been merged.

[2020-12-15 19:34] Nitori- commented on #383
We this this behavior as well.

A workaround is to close and reopen the PR after changing the title. However, this can cause other workflow problems, so a proper fix would be ideal.

[2020-12-15 22:05] tubbo commented on #182
here to chime in and say that i also ran into this issue and it would be amazing if we could get either a different trigger for PRs or possibly a condition where we can check the PR's type

[2020-12-18 08:23] matthias-mohemian commented on #182
Any updates here? Would really improve our Jira - Guthub workflow!

[2020-12-20 23:16] mobeigi commented on #345
@zmoazeni @willsmythe Hi folks, I'm just wondering if there is any planned work on your roadmap to support this? As of right now, customers using Github are not able to correctly configure basic transitions rules as they cannot filter out these merge commits which results in unexpected behaviour. Thank you :)

[2020-12-21 14:06] zmoazeni commented on #345
@mobeigi Unfortunately I'm no long working in this area within GitHub.

[2021-01-06 17:21] dfan1028 commented on #191
I used to use clubhouse and it supported both title and link in body for detecting whether or not to link, a bit disappointed jira doesn't have the same.

[2021-01-08 11:37] hilnius commented on #398
@jamesmcguirepro do you get any issue linked ? I have the same issue as you except I get 0 conversion to link

[2021-01-08 17:00] jamesmcguirepro commented on #398
The first few will link @hilnius

[2021-01-12 00:46] jwoods-ucsb opened #408 "How do you get to the "Manage Jira Subscriptions"?"
Looking at the README and wondering how you get to the "Manage Jira Subscriptions" screenshot?

I am a Github Org Admin, and I am looking in Org Settings->Installed Third Party Apps. I see the Jira App installed, and when I select "Configure", it does not list the subscriptions. Is it located someplace else, or do I need an additional permission in Github?

Thanks

[2021-01-13 00:45] msteward commented on #310
Is this related to the newer Deployment views in Jira? (https://support.atlassian.com/jira-software-cloud/docs/integrate-your-deployment-pipelines-with-jira/). There are integrations with some CI providers but not with GitHub Actions yet (other than using the API yourself).

[2021-01-13 20:50] ProvidenceXz opened #409 "Feature Request: linking Jira issue in commit messages on Github"
Currently, linking Jira issues in Github only works for issue body like here as [JIRA-123]. Would be great if the same applies for commit messages like "[JIRA-321] this is a commit". Where we can click on the link to the Jira issue through commit message.

[2021-01-15 21:16] kleinen commented on #10
@tcbyrd Just noticed the convo on this issue.  My company is also looking to integrate Jira Cloud with GitHub Enterprise.  I'm hoping that since it has been nearly two years since your last comment that maybe some traction or progress has been made.

[2021-01-19 06:40] andreaso opened #410 "Feature Request: Option to disable Smart Commits"
I would like to make a feature request about adding a configuration option which would make it possible to disable the Jira [Smart Commits](https://support.atlassian.com/jira-software-cloud/docs/process-issues-with-smart-commits/) feature.

I have been in contact with Atlassian support, and according to them that is something which needs to be configured on an application level, given that that is

[2021-01-27 22:49] maxwolffe opened #411 "Bug Report: Set up doesn't work for organizations with IP allowlist"
Hi friends,

I'm opening up this issue on the public repository so folks have the ability to upvote this issue or discover it before investing in the integration.

**Problem:** This integration does not work for organizations which have IP allowlists enabled on the GitHub side.

**Steps to Reproduce:**
- I'm an admin/owner on both my JIRA Cloud organization and my GitHub.com organization.
- I have

[2021-02-01 08:31] Raul6469 commented on #409
You can link Jira issues on commits and comments using custom autolinks : https://docs.github.com/en/github/administering-a-repository/configuring-autolinks-to-reference-external-resources

[2021-02-01 08:35] scollovati commented on #142
Hi,
we're experiencing the same: we rebased a branch by deleting a duplicated commit. Rebase was done locally and then we forced the push to the remote branch on Github.

Now the integration in JIRA is "stuck" and shows only the old commits and not the new ones.

[2021-02-01 20:24] Raul6469 commented on #252
Hey there! 👋

I just worked on this, and just opened #412 if you want to take a look :eyes:

I have some failing tests to update, I'll take a look at this tomorrow

[2021-02-02 17:48] Raul6469 commented on #291
Hey there! 👋

I'm bumping this up to see if there are any internal updates about this issue. I'm being affected by this restriction on bots events as well, and I am ok to work on this if needed.

I understand the concern about infinite event webhooks, but having an exception **only on PR state changes** looks good to me. I don't see how we can end up in such a situation if we allow bot events proc

[2021-02-04 02:16] antoine-roam commented on #182
Another bump here, any update @tcbyrd ?
Any chance this could be reviewed by the Jira team anytime soon?
Cheers.

[2021-02-10 18:08] benoit-lateltin commented on #209
You have to disable the **trigger** in your Jira worflow

<img width="1266" alt="Screenshot 2021-02-10 at 19 08 05" src="https://user-images.githubusercontent.com/819411/107552061-50097280-6bd3-11eb-9baf-41c83d3deb59.png">

[2021-02-11 19:32] jbonilla-li commented on #411
Really miss this functionality 😿

[2021-02-12 17:49] nevir commented on #191
This would be extremely helpful. I'd love to be able to reference JIRA issues in the PR/issue body. That way we get easy two way linking, as well.

[2021-02-12 22:19] scryan7371 commented on #378
Same issue here.  Very frustrating as we would like to use both Github and Jira but can't get it to work

[2021-02-25 07:23] trm42 commented on #182
It seems that Atlassian has their own ticket about this one. Probably helps more if people go there to vote the issue:

https://jira.atlassian.com/browse/JRACLOUD-72888

[2021-03-01 14:47] pgrantmartello commented on #119
Hi! Is this ever going to be fixed?

[2021-03-01 15:26] pgrantmartello commented on #119
I don't, and won't have time to, have an instance of JIRA running locally to develop this, but I did a bit of digging in case someone else wants to do the work and make a PR.

It seems that this is _supposed_ to happen already. Look here:

https://github.com/integrations/jira/blob/414bd9d917dea2625a12eb3495350fe7003efc24/lib/github/pull-request.js#L18

This seems like it's supposed to take in the

[2021-03-01 15:29] pgrantmartello commented on #191
This issue should be closed since it's a duplicate of #119. I can't do the dev work myself, but I might have found the solution to it if someone wants to read my comment on that post and maybe do the testing on their own environment.

[2021-03-06 12:37] NasAmin commented on #409
Auto links are a workaround but it is a pain to setup on every repository.

[2021-03-12 21:58] snatvb opened #415 "Nothing to see in JIRA"
<img width="1017" alt="image" src="https://user-images.githubusercontent.com/1572963/111002737-fbeedb00-8396-11eb-9331-0ac19610782f.png">
<img width="1248" alt="image" src="https://user-images.githubusercontent.com/1572963/111002756-0315e900-8397-11eb-9079-38c442e52538.png">

<img width="1042" alt="image" src="https://user-images.githubusercontent.com/1572963/111002815-217be480-8397-11eb-9b9e-cc96

[2021-03-12 21:59] snatvb commented on #415
<img width="436" alt="image" src="https://user-images.githubusercontent.com/1572963/111002986-5c7e1800-8397-11eb-9093-9de15140f33d.png">
Full right side

[2021-03-16 17:57] snatvb commented on #415
any help?

[2021-03-17 16:37] Raul6469 commented on #415
Hi @snatvb, it looks like you installed the GitHub App on selected repositories, maybe you forgot to add the one you are looking for? If it doesn't fix it, then I have no idea, sorry 😅

[2021-03-17 18:02] snatvb commented on #415
Hello, @Raul6469 , nope, I selected needs repos...

[2021-03-18 06:35] mikhaelsantos commented on #402
Any planning for creating a branch in Github?

[2021-03-18 17:23] rogerluan commented on #292
@pjoe could you explain your solution better? Is it a standalone comment on the PR such as `JRA-123 #done`, or a "commit merge message" containing `JRA-123 #done`? Or `JRA-123 #done` in the PR description? 🤔

[2021-03-18 19:40] pjoe commented on #292
Mainly been using in the merge PR message, but would expect it to work anywhere (where smart commits works). I have found though that you may need to use the name of the transition, not the state (which is not always the same).

[2021-03-25 21:25] sodul commented on #409
Autolinks are not even working well. If I refresh the commit page 3 times, I get 3 different sets of linked tickets. So the feature is utterly broken.

They have immense maintenance burden which is to configure it for each repo multiplied by the number of Jira projects you might have. Since both things are moving targets in a growing company their administration is unsustainable.

[2021-03-31 06:40] firemaples commented on #415
@snatvb Have you found any resolution?

[2021-03-31 06:50] firemaples commented on #415
I got the same issue for two days, and I just fixed it by reinstall the extension on JIRA.

[2021-03-31 22:00] snatvb commented on #415
@firemaples I tried it many times...
Maybe I have problems because I use Free plan in JIRA?

[2021-04-05 14:01] firemaples commented on #415
@snatvb I use the free plan too.

There're my steps:
At first, I could not select any organization or repository on the extension's settings page on JIRA, so I opened Github's extension page to do the stuff.
After that, the extension's settings page on JIRA got blank and ran forever.
Then I reinstalled it on JIRA, and it works well now.

[2021-04-05 17:12] snatvb commented on #415
@firemaples what I didn't try...doesn't work anything...

[2021-04-07 19:33] Berkmann18 commented on #354
Using the ESLint commit convention and having either of the following commit messages get Jira to pick up both (so I'll guess that it's the same for the Angular, JSHint, Atom, ... commit conventions):
[code]
[code]

I found this when I was testing if Jira was picking up `PRO-xx` (`PRO` being a random substitute for a real project code) or if I needed to have `[PRO-xx]` or `#PRO-xx` in the commit m

[2021-04-07 19:36] Berkmann18 commented on #351
That would be nice although, having a similar system (based on GitLab) at work, it makes it easier to see what ticket is linked to PR/MR, but at the same time, if you don't know what the ticket entails or read the PR/MR summary then it wouldn't be clear off the bat.

[2021-04-07 19:42] Piedone commented on #351
The issue's title should give you an idea of what the PR is about too. In the cases it doesn't you could of course still manually edit it.

[2021-04-08 17:43] Berkmann18 commented on #351
True, I was kind of playing devil's advocate here having worked in teams where PR had meaningful titles based on their nature/change and in GitLab(+Jira) where MRs referred to tickets (e.g. `Feat/proj 124`) both have their use.

[2021-04-14 05:54] rachellerathbone commented on #232
Closing this issue as it looks like a [PR](https://github.com/integrations/jira/pull/233) was opened and merged 3 days later.

[2021-04-14 22:33] #232 closed

[2021-04-16 09:40] MaxTranced opened #426 "Please add a configurable separator for the issue key, or at least space in addition to -"
Per https://github.com/integrations/jira/issues/188 only `#ABC-123` and `ABC-123` are supported. After https://github.com/integrations/jira/issues/220 lower case / mixed case will also be supported, most likely. It would be really helpful for the more forgetful people to also support a short list (or customizable list?) of separators, which ideally would include the space character. So `ABC 123` w

[2021-04-27 12:19] x4e-jonas commented on #183
DVCS cannot link commit messages in GitHub to Jira Server.

[2021-04-30 18:06] corytodd commented on #372
We see this as well and causes some confusion. I think its because we use gitflow which marks the PR as closed, not necessarily as merged. The same workflow works fine for our Bitbucket repos.

[2021-05-07 00:22] brwarner commented on #119
I did some digging, and there was a PR with almost the exact change @pgrantmartello is suggesting but it was closed without merging for reasons I can't track down. You can find it here: https://github.com/integrations/jira/pull/121.

I did try giving development on this a go to submit my own PR but I was having a hard time getting the development environment working with the tunneling and everythi

[2021-05-12 09:48] Alecise commented on #415
Hi @snatvb, I may have find the answer (by stumbling upon the same mystery...).

In order to see the Development Panel on the issues, you need to have the permission to view it.

By default, users that are allowed to see the development Panel are those with a **Project role** of : developers, atlassian-addons-project-access
I didn't see it because I was an admin, and not a developer.

**I solved t

[2021-05-12 09:53] Alecise commented on #378
Hi, for everyone stumbling upon this mistery, I may have find the answer :

In order to see the Development Panel on the issues, you need to have the permission to view it.

By default, users that are allowed to see the development Panel are those with a Project role of : developers, atlassian-addons-project-access
I didn't see it because I was an admin, and not a developer.

I solved this by addi

[2021-05-13 14:20] rawong215 opened #458 "Branch squash with work time allocations not reflected in Jira"
When a branch with files committed that have recorded work time using smart commits (#time 3h) is squashed, Jira does not reflect the correct time nor branch removal in its view.  Is this a known issue and if there are any workarounds other than manually removing time in Jira.

[2021-05-14 06:37] atrigueiro commented on #394
Hi all,

We've implemented this feature and it's out in prod! https://github.com/integrations/jira/pull/437

[2021-05-14 06:37] #394 closed

[2021-05-14 06:38] atrigueiro commented on #291
Hi all,

we've fixed this bug and it's now out in prod! https://github.com/integrations/jira/pull/437

[2021-05-14 06:38] #291 closed

[2021-05-14 06:39] atrigueiro commented on #252
Hi all,

We've implemented this feature and it's out in prod! https://github.com/integrations/jira/pull/447

Known limitations:
* It doesn't work on sync yet.
* Requested reviewers won't appear on the dev panel until they actually review the PR.

We're aware of both scenarios and they're in our backlog to be tackled at some point.

[2021-05-14 06:39] #252 closed

[2021-05-17 05:54] rachellerathbone commented on #32
Hey @primarilysnark. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

The various flows of the app is something that we are actively working on and are in the process of determining how to impro

[2021-05-17 05:54] #32 closed

[2021-05-17 06:00] rachellerathbone commented on #139
![Screen Shot 2021-05-17 at 3 57 53 pm](https://user-images.githubusercontent.com/37155488/118439130-b947d700-b728-11eb-8fb0-f6820da95bcf.png)

Looks like orgs that a user doesn't have admin access to are still listed. I've flagged this with 'to-triage' for my team discuss this issue.

[2021-05-17 06:15] rachellerathbone commented on #126
Hey @andymckay. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss this issue. We'll keep you posted if we decide to add the app

[2021-05-17 06:16] rachellerathbone commented on #119
Hey @brwarner. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 06:17] rachellerathbone commented on #135
Hi @PuneetKohli. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 06:20] rachellerathbone commented on #142
Hey @mkoleva. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Given the date this ticket was created, my team will need to first determine if this is still an issue. I've created an investigati

[2021-05-17 06:26] rachellerathbone commented on #144
A PR for this request has been approved and will be deployed to prod in the coming week.

[2021-05-17 06:26] #144 closed

[2021-05-17 06:28] rachellerathbone commented on #151
Closing as a fix for this has been merged and deployed to prod. 🎉

[2021-05-17 06:28] #151 closed

[2021-05-17 06:29] rachellerathbone commented on #156
Closing this as the UI has since changed. Users now click 'submit' and the page refreshes when the requests are sent.

[2021-05-17 06:29] #156 closed

[2021-05-17 06:33] rachellerathbone commented on #188
Closing as behaviour is different from that stated in original description. Also, my team is looking into improving this experience for users so they are not confined to only using uppercase letters.

[2021-05-17 06:33] #188 closed

[2021-05-17 06:34] rachellerathbone commented on #191
Closing in favour of #119.

[2021-05-17 06:34] #191 closed

[2021-05-17 06:35] rachellerathbone commented on #194
I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this. I'm not sure we'll be able to d

[2021-05-17 06:37] rachellerathbone commented on #200
Hey @bmckinney00. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Please let me know if you are still facing this issue so I can help.

[2021-05-17 06:40] rachellerathbone commented on #205
Hi @eldenis. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

When the migration of this app is complete, my team will be looking into potential ways to improve the sync process, particularly in

[2021-05-17 06:40] rachellerathbone commented on #150
Hi @elsewhat. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 06:41] rachellerathbone commented on #147
Hi @andreacab. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 06:45] rachellerathbone commented on #221
Hi @reillydavis. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

When the migration of this app is complete, my team will be looking into potential ways to improve the sync process to address a

[2021-05-17 09:05] rachellerathbone commented on #206
Hi @SuriDotInc. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Can you please let me know if you're still experiencing this issue so my team can investigate.

[2021-05-17 09:07] rachellerathbone commented on #209
Closing as the issue appears to have been addressed by @benoit-lateltin.

[2021-05-17 09:07] #209 closed

[2021-05-17 09:12] rachellerathbone commented on #216
Closing as we have recently deployed a change to indicate the number of repos installed out of the total number of repos to sync.

[2021-05-17 09:12] #216 closed

[2021-05-17 09:14] rachellerathbone commented on #220
Hi @jnraine. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Adding broader support for issue keys is something we're actively discussing and have tickets in our backlog. Stay tuned 😄

[2021-05-17 09:15] rachellerathbone commented on #243
Closing as it looks like this was addressed with @240.

[2021-05-17 09:15] #243 closed

[2021-05-17 09:24] rachellerathbone commented on #292
Closing as the issue as it seems to have been addressed by suggestions in this thread.

[2021-05-17 10:10] rachellerathbone commented on #308
Hi @takn. Yes, this is possible. On the page where you see you're installed org click 'Manage organizations'.

<img width="1538" alt="Screen Shot 2021-05-17 at 8 07 40 pm" src="https://user-images.githubusercontent.com/37155488/118471989-b4e0e580-b74b-11eb-8305-85bb6aec504a.png">

On the following screen you can then select the org you want and simply click 'Install'.

<img width="668" alt="Screen

[2021-05-17 10:10] #308 closed

[2021-05-17 10:13] rachellerathbone commented on #310
Hi @pznamensky. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

This is something we're actively working on at the moment. Stay tuned 😄

[2021-05-17 10:14] rachellerathbone commented on #311
Hi @IvoBCD. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Please let me know if @tebriel's comment addressed this issue for you so I can close/follow-up.

[2021-05-17 10:15] rachellerathbone commented on #315
Hi @royt-via. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Are you still experiencing issues with this?

[2021-05-17 10:17] rachellerathbone commented on #318
Closing as no longer appears to be an issue.

[2021-05-17 10:17] #318 closed

[2021-05-17 10:19] rachellerathbone commented on #320
Hi @obuslovich. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Just to make sure I'm understanding correctly - you want comments anyone makes in a Jira issue, along with it's corresponding sta

[2021-05-17 10:22] rachellerathbone commented on #330
Hi @AparnaJN. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

This is an issue that my team is currently looking into and have linked your issue in a ticket in our backlog. Stay tuned 😄

[2021-05-17 10:24] rachellerathbone commented on #345
Hi @felipe-gdr. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

There is currently a PR open to merge in your changes and should be deployed in the coming week. Stay tuned 😄

[2021-05-17 10:28] rachellerathbone commented on #352
Hi @showduhtung. You can add multiple branches to one Jira issue so long as the branch contains the issue key. If there are existing branches that don't include the issue key, they would need to be renamed to be identified by Jira and connected to the correct ticket.

<img width="932" alt="Screen Shot 2021-05-17 at 8 26 54 pm" src="https://user-images.githubusercontent.com/37155488/118474268-3d608

[2021-05-17 10:30] rachellerathbone commented on #354
Hi @gazal-k. As long as a commit message contains the issue key, it will show up in the corresponding issue in Jira. Square brackets are not needed.

Please let me know if I have understood your issue correctly so I can close this out/follow up.

[2021-05-17 10:31] rachellerathbone commented on #365
Hi @mseko. Please let me know if your issue was addressed by the details in #311 so I can close this out/follow up.

[2021-05-17 10:32] rachellerathbone commented on #369
Hi @igowthamr. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Can you please provide a little more context around this? What system dashboard are you referring to? Provide screenshots if possi

[2021-05-17 10:37] rachellerathbone commented on #376
Hi @ey51. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've linked your issue to one of the tickets in our backlog so our team can work on addressing this issue.

[2021-05-17 10:38] rachellerathbone commented on #378
Hi @yinchuandong and @scryan7371. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Please let me know if you are still experiencing this issue and provide any relevant screenshots. Happy to help

[2021-05-17 10:40] rachellerathbone commented on #383
Hi @lukasnovy and @Nitori-. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Can you both please let me know if this is still an issue for either of you so I can follow up?

[2021-05-17 10:41] rachellerathbone commented on #391
Hi @nrafal. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

This is an issue our team is actively looking into. It's proving to be a hard issue to reproduce but will continue to be something we

[2021-05-17 10:42] rachellerathbone commented on #395
Closing as above comment addressed this issue.

[2021-05-17 10:42] #395 closed

[2021-05-17 10:42] rachellerathbone commented on #398
Hi @jamesmcguirepro. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Can you please let me know if this is still an issue so my team can follow up?

[2021-05-17 10:45] rachellerathbone commented on #402
Hi @arieteter and @mikhaelsantos. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

This is something my team is actively working on. Due to several factors while we are in the process of the mig

[2021-05-17 10:54] rachellerathbone commented on #408
Hi @jwoods-ucsb. I believe to get to the screen you're looking for you click 'Manage organizations' from the GitHub configurations page > Mange.

<img width="1538" alt="Screen Shot 2021-05-17 at 8 07 40 pm" src="https://user-images.githubusercontent.com/37155488/118477315-e8267300-b751-11eb-862a-e383410f7e8a.png">

<img width="612" alt="Screen Shot 2021-05-17 at 8 53 31 pm" src="https://user-image

[2021-05-17 10:56] rachellerathbone commented on #409
Hi @ProvidenceXz. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 10:58] rachellerathbone commented on #411
Hi @maxwolffe. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 10:59] rachellerathbone commented on #426
Hi @MaxTranced. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

This is something we're looking into improving and have several tickets in our backlog. Stay tuned 😄

[2021-05-17 11:03] rachellerathbone commented on #415
Hi @snatvb. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Please let me know if @Alecise's comment helped you resolve your issue so I can follow up/close.

[2021-05-17 11:09] mseko commented on #365
Hi @rachellerathbone.
Resolved by the details in #311.
This Issue will be closed.
Thank you very much.

[2021-05-17 11:09] #365 closed

[2021-05-17 11:10] rachellerathbone commented on #247
I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

Once we take ownership of the app we plan to revisit logging and change the current implementation. Stay tuned 😄

[2021-05-17 11:13] rachellerathbone commented on #11
Hi @andymckay. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 11:14] rachellerathbone commented on #10
HI @andymckay. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 11:14] rachellerathbone commented on #8
Hi @andymckay (again). Added the to triage label to this one as well for my team to look into 😄

[2021-05-17 11:54] pznamensky commented on #310
Glad to hear it!
Thank you!  :slightly_smiling_face:

[2021-05-17 12:27] arnested commented on #150
If you need inspiration we build a GitHub Action for mapping security alerts to Jira tickets: https://github.com/reload/github-security-jira

[2021-05-17 12:40] bmckinney00 commented on #200
This issue is resolved.  I honestly don't remember if there was a fix for
this or if it just started working.

Bryan McKinney
Analyst/Programmer Sr
Wake Forest University
Information Systems
(336) 758-3099

On Mon, May 17, 2021 at 2:37 AM Rachelle Rathbone ***@***.***>
wrote:

[2021-05-17 12:58] IvoBCD commented on #311
@rachellerathbone We no longer got the depreciation notice, but we've since given up and uninstalled the GitHub JIRA integration since it was just too unreliable

[2021-05-17 13:09] maxwolffe commented on #411
@rachellerathbone - Great! Thank you!

[2021-05-17 13:51] Nitori- commented on #383
Hi @rachellerathbone !

I just verified that this is indeed still an issue for us.

Steps to reproduce:

- Setup JIRA-GHE integration
- Open a PR without mentioning a JIRA ID in the title
- Edit the title of the PR to mention a JIRA ID
- No association will be made on the JIRA side
- Close and re-open the PR and it will register in JIRA (not a desirable requirement, but it works as a crude workaro

[2021-05-17 16:23] jamesmcguirepro commented on #398
@rachellerathbone Yes

[2021-05-17 23:07] rachellerathbone commented on #158
Hi @jnraine. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:07] rachellerathbone commented on #181
Hi @SimplesSimon. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:08] rachellerathbone commented on #182
Hi @dpraul. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:08] rachellerathbone commented on #186
Hi @jdnrg. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:09] rachellerathbone commented on #198
Hi @jayKayEss. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:11] rachellerathbone commented on #200
Thanks for letting me know. Glad your issue was resolved. Will close this issue but please open issues for anything else you run into. We're assigning someone from the team each week to look into reviews so response time will increase drastically.

[2021-05-17 23:11] #200 closed

[2021-05-17 23:12] rachellerathbone commented on #210
Hi @jnraine (again). Also flagged this one with 'to triage' so my team can discuss.

[2021-05-17 23:12] rachellerathbone commented on #212
Also flagged for discussion.

[2021-05-17 23:12] rachellerathbone commented on #214
Same here. Flagged for the team to triage.

[2021-05-17 23:13] rachellerathbone commented on #215
Another issue to triage for you. Stay tuned.

[2021-05-17 23:13] rachellerathbone commented on #245
Triaged 😄

[2021-05-17 23:13] rachellerathbone commented on #290
Hi @SikindarMirza. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:14] rachellerathbone commented on #296
Hi @brandonvin. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:14] rachellerathbone commented on #307
Hi @bhushanrga. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to-triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:15] rachellerathbone commented on #309
Hi @daemon-ian. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to triage' label so my team can discuss. I don't believe this is something we can support but will co

[2021-05-17 23:17] rachellerathbone commented on #311
Hey @IvoBCD. I'm sorry that integration was so unreliable that you had to uninstall it.

Me and my team are actively working on the app and have identified a number of pain points for our users and areas of the app that could be improved. If you change your mind and choose to reinstall the app, we'd love to hear your feedback on the product so we can truly try to create the experience our communit

[2021-05-17 23:18] rachellerathbone commented on #316
Hi @chrisgagne. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:19] rachellerathbone commented on #317
Hi @Leksat. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:19] rachellerathbone commented on #338
Hi @MattFoley. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:19] rachellerathbone commented on #351
Hi @Piedone. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:19] rachellerathbone commented on #372
Hi @Drewpeifer. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:20] rachellerathbone commented on #373
Hi @usmonster. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:20] rachellerathbone commented on #381
Hi @usmonster (again). I've also added the to triage label to this issue for my team to discuss.

[2021-05-17 23:21] rachellerathbone commented on #458
Hi @rawong215. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

I've flagged this with the 'to triage' label so my team can discuss. We'll keep you posted on the status of this.

[2021-05-17 23:23] rachellerathbone commented on #410
Hi @andreaso. I'm from a team at Atlassian that is currently in the process of migrating the ownership over to us from GitHub. As a part of this, we're currently going through the backlog of issues and prs to see what can still be addressed and what should be closed.

We have a ticket in our backlog to address this issue and will update you when we can. Stay tuned 😄

[2021-05-17 23:29] Piedone commented on #351
I see, thanks!

[2021-05-18 01:19] rachellerathbone commented on #398
Ok. I've created a ticket in our backlog so we can look into this. We'll keep you posted.

[2021-05-18 01:20] chrisgagne commented on #316
That's wonderful, thanks @rachellerathbone! I invite your team to think of this through the usual Scrum framework: the backlog item (issue in Jira) reflects the what while the task (sub-task in Jira) reflects the how. A developer is more likely to log work against a sub-task than a issue as that is where the "how" of the work is most likely to be described.

[2021-05-18 01:23] rachellerathbone commented on #365
No worries. Thanks @mseko for getting back to me and for closing this issue.

Please feel free to open any other issues if you need help or have requests/feedback. We have assigned a person from the team each week to look into issues so the response time will dramatically increase.

[2021-05-18 01:41] #345 closed

[2021-05-18 05:37] andreaso commented on #410
Good to hear, thanks!

@rachellerathbone: Unless the connection has already been made, see also https://getsupport.atlassian.com/servicedesk/customer/portal/48/PCS-26236.

[2021-05-18 10:15] usmonster commented on #373
Thanks for looking at this!

[2021-05-18 13:53] snatvb commented on #415
Hello @rachellerathbone,

No, I connected this app and I see control panel in Jira, auto converting also works in github issues. Just I don't see commits in Jira.

[2021-05-18 18:56] scollovati commented on #142
Hi @rachellerathbone as per my last comment, in february we experienced this issue with Jira Cloud when rebasing a branch.

[2021-05-18 21:05] bxk-sonavex commented on #311
Hey @rachellerathbone, we are currently experiencing a very annoying issue.  The "Development" field shows wrong status of PR for tickets - the PR was merged successfully but shown as DECLINED.  This is really annoying.  Don't know who is responsible for fixing the issue now, but would like to see it resolved asap.  I don't want to wast time double checking PRs in every single ticket.

[2021-05-18 22:56] rachellerathbone commented on #415
Ok, so let me first confirm a few things and ask some questions:

You've installed the GitHub app. Can you go to https://github.com/settings/apps/<your-github-app>/installations and confirm you see a similar view for the org you're working with:

<img width="751" alt="Screen Shot 2021-05-19 at 8 49 02 am" src="https://user-images.githubusercontent.com/37155488/118733141-1190ed00-b87f-11eb-9bb1-007

[2021-05-18 23:00] rachellerathbone commented on #311
Hey @bxk-sonavex. Please follow [372](https://github.com/integrations/jira/issues/372). It's currently flagged for triaging so that our team can begin to determine what work needs to be done for this and follow up accordingly.

[2021-05-18 23:12] rachellerathbone commented on #383
Hey @Nitori-

I followed your steps but wasn't able to reproduce the error.

**Happy path first (add Jira issue key when GitHub PR is created):**

I created an issue in Jira:

<img width="1033" alt="Screen Shot 2021-05-19 at 9 03 55 am" src="https://user-images.githubusercontent.com/37155488/118734390-9c72e700-b881-11eb-8322-00d2d7103521.png">

I then opened a PR with the corresponding issue key T

[2021-05-18 23:14] Nitori- commented on #383
Ah you know what, I think I might know what the difference is. Does this repo/issue only apply to GitHub.com and JIRA cloud integrations, or does it also apply to self-hosted GitHub Enterprise and self-hosted JIRA?

[2021-05-18 23:35] rachellerathbone commented on #8
Hi @andymckay. I've created a ticket in our backlog for someone on my team to investigate implementing your suggestions. We'll keep you posted on the progress. Please stay tuned.

[2021-05-18 23:46] rachellerathbone commented on #11
Hi @andymckay. We've looked through your list. It looks like some of these things have been implemented/in progress since you opened this issue. A few of the others some possible and some we need more context from you. Creates a branch in GitHub from a

- [ ] Creates a branch in GitHub from aJIRA ticket - this is something that is currently in the works so stay tuned for this one.
- [ ] Displays P

[2021-05-18 23:50] thombergs commented on #383
@Nitori- I'm from @rachellerathbone's team at Atlassian and can provide some more context. This integration (the "GitHub for Jira" app) is currently only supporting Github.com and Jira Cloud (i.e. not the self-hosted versions GitHub Enterprise and Jira Server). The integration between Jira Server and GitHub Enterprise is covered by the [DVCS feature in Jira](https://confluence.atlassian.com/jirakb

[2021-05-18 23:52] Nitori- commented on #383
Got it! Our use case is with self-hosted everything, so this issue probably doesn't apply to us then, thanks!

[2021-05-19 00:03] rachellerathbone commented on #383
Thanks for your input @thombergs. @Nitori- confirming you have enough clarification now so that I can close this out.

[2021-05-19 00:04] Nitori- commented on #383
Yes I think the issue is safe to close from my perspective.

[2021-05-19 00:08] rachellerathbone commented on #383
Great. Thanks @Nitori-

[2021-05-19 00:08] #383 closed

[2021-05-19 00:15] rachellerathbone commented on #10
Hey @andymckay as we are currently in the process of migrating from Jira Enterprise (Jira Server) to Jira Cloud, this issue is no longer relevant so going to close it out. If you have any suggestions in the GitHub/Jira Cloud space, please feel free to open a new issue.

[2021-05-19 00:15] #10 closed

[2021-05-19 03:21] bxk-sonavex commented on #372
Experiencing the same issue as well

[2021-05-19 13:54] richward1 opened #462 "Integrations permissions"
As a member of an organization, I've had to request permission for Jira to be integrated with a specific repo that I'm an admin on.
However, the owner's account has root access over the entire organization, and the setup prompts for permission to "Act on your behalf".
Can you confirm what this means please; is this just within the context of the repo that Jira would be connected to, or does it gra

[2021-05-19 14:34] mboudreau commented on #462
Thanks for bringing this up.  We definitely should clarify this a bit more as the language isn't as succinct as it should be.

When giving access to your organisation on the app, you'll see specifically which permissions we're using which is:
- Contents: Read & Write
- Issues: Read & Write
- Metadata: Read (this is mandatory for Github apps)
- Pull requests: Read & Write

These permissions can onl

[2021-05-19 22:42] rachellerathbone commented on #181
Hi @SimplesSimon. Given this issue was opened over 2 years ago, before me and the team start working on a potential solution to this, we'd like to know if you were able to solve your issue by using 'on-behalf-of trailer' as recommended by @tcbyrd.

[2021-05-19 23:06] rachellerathbone commented on #214
Hey @jnraine. Could you please provide more context on where you got to with 'timelines for webhook delivery API'?

[2021-05-19 23:11] rachellerathbone commented on #215
Added a ticket for this to our backlog. Might be a while before we get around to it (post migration) but it's in our sights. Stay tuned!

[2021-05-19 23:22] rachellerathbone commented on #290
Hi @SikindarMirza. I've created a ticket in my team's backlog for us to investigate. We'll update you on the progress. Stay tuned.

[2021-05-19 23:32] rachellerathbone commented on #309
Hi @daemon-ian. We are currently is the process of migrating all customers off Jira Server and onto Jira Cloud. As this issue is related to a product that will be deprecated, I am going to close this issue. If you have any other requests/thoughts please feel free to open a new issue.

[2021-05-19 23:32] #309 closed

[2021-05-19 23:41] thombergs commented on #307
@bhushanrga no, sorry. This integration only works for Jira Software.

[2021-05-19 23:46] rachellerathbone commented on #317
Hey @Leksat. Just need some clarification: are you proposing, if there is a Jira issue key e.g. ARC-123 referenced in a GitHub issue (title &/or body?) that a link to the GitHub issue/s would be visible in the Jira dev panel?

So here we'd see 'X GitHub issues'
<img width="416" alt="Screen Shot 2021-05-20 at 9 43 01 am" src="https://user-images.githubusercontent.com/37155488/118898399-cc88bb80-b94

[2021-05-19 23:53] rachellerathbone commented on #307
Hi @bhushanrga. Going to close this issue out. Please let us know if you have any other questions.

[2021-05-19 23:53] #307 closed

[2021-05-19 23:59] thombergs commented on #316
Hey @chrisgagne,

this integration should work with any type of Jira issue, including sub-tasks. You would just have to put the issue ID of the sub task in your commit message and the commit should show up in the sub task in Jira.

And smart commits should work with sub tasks, as well.

Or do you mean something else? What exactly would you like to achieve?

[2021-05-20 00:07] rachellerathbone commented on #351
Hi @Piedone. Good news, we are now actively looking into solutions for this. Stay tuned!

[2021-05-20 00:09] rachellerathbone commented on #372
Hi @Drewpeifer and @bxk-sonavex. I've created a ticket in the backlog for my team. We'll update you when we can. Stay tuned 😄

[2021-05-20 01:04] rachellerathbone commented on #458
Hey @rawong215. I've created a ticket in my team's backlog and we'll update you when we can. Stay tuned 😄

[2021-05-20 06:24] Leksat commented on #317
@rachellerathbone yes, exactly!

Something like this:
<img width="426" alt="Screen Shot 2021-05-20 at 09 04 55" src="https://user-images.githubusercontent.com/989015/118927588-b1677d00-b94a-11eb-8a40-7754682de565.png">

We really want this feature because developers love Github and PMs/clients love Jira. If it's implemented, developers can create multiple issues for Jira tickets and there discuss

[2021-05-20 11:17] Piedone commented on #351
Oh that's fantastic, thanks!

[2021-05-20 14:38] sfc-gh-sgiesecke opened #465 "Feature request: Create JIRA issue from PR Review"
Just like it's possible to create a GitHub issue from a PR Review Discussion Thread, it should be possible to create a JIRA issue prefilled with appropriate information, including a link to the originating PR and discussion item.

[2021-05-21 00:13] rachellerathbone commented on #317
Hi @Leksat. I was able to chat with some folks from various Jira teams and found out that there was an "Other links" tab in the dev detail dialog that was introduced last year. Current problem is, are all hardcoded, but should be easy to extend. Just need to wait now for these to be triaged by our PM. I'll keep you posted.

[2021-05-21 00:23] thombergs commented on #465
Hey @sfc-gh-sgiesecke,

can you elaborate on that idea a bit? How is it currently possible to create a GitHub issue from a PR review discussion (I didn't find that option). So, if I understand correctly, you would want a button in the GitHub UI that gives you the option to create a Jira ticket?

[2021-05-21 05:47] thombergs commented on #458
@rawong215 Can you please check what the commit message of the squashed commit looks like? Does it contain the `#time 3h` string properly? Or is this keyword maybe garbled somehow by the squashing?

[2021-05-21 07:38] sfc-gh-sgiesecke commented on #465
You can even see it on this discussion as well. It's the same for a PR review discussion. I am not sure what information goes into the new issue. For JIRA, this must probably be configured with more details, as JIRA has many more fields that might need to be prefilled than GitHub issues.

<img width="909" alt="Screenshot 2021-05-21 at 09 36 27" src="https://user-images.githubusercontent.com/824019

[2021-05-22 17:43] snatvb commented on #415
Hi @rachellerathbone,

Sorry for long response.

I have such status in JIRA:
![image](https://user-images.githubusercontent.com/1572963/119236073-27800580-bb3e-11eb-8f12-89e598b54c9f.png)

It has such state in GitHub:
![image](https://user-images.githubusercontent.com/1572963/119236093-3b2b6c00-bb3e-11eb-802e-9e2cd618183b.png)

But I see nothing in https://github.com/settings/apps/
![image](https:

[2021-05-22 23:07] rachellerathbone commented on #415
Hi @snatvb. Thanks for the screenshots. They definitely help with situations like this. You wouldn't see anything in github app settings unless you made your own github app (used for contributing purposes).  I am curious as to why it's saying the sync status is complete but is showing 0/2 repos have synced 🤔

From your Jira site you'll need to click on 'Projects' in the navbar and then select a pr

[2021-05-23 12:51] snatvb commented on #415
Hello @rachellerathbone,

My project has "Company-managed business" type.
![image](https://user-images.githubusercontent.com/1572963/119261044-2a323780-bbde-11eb-8ba8-c517a8436701.png)

As I understand, I must create new project with correct type and move issues to there.

I know how works smart commits, because I use JIRA in enterprise in my work :)
I try to use JIRA for my pet project.

I will t

[2021-05-23 13:13] snatvb commented on #415
I can't change type to that with free plan. So I can suppose that I can't use smart commit's in free plan. Right?

[2021-05-24 01:08] rachellerathbone commented on #415
I also work from a free account. I don't think you can change the type for an already created project. However, I only appear to have the options 'team-managed software' and 'company-managed software'. Did you go [here](https://www.atlassian.com/software/jira) to create your free account?

[2021-05-24 08:14] snatvb commented on #415
@rachellerathbone, yes. I can create new project and there select template, where project type will be different(I suppose).
![image](https://user-images.githubusercontent.com/1572963/119317214-8483d480-bc80-11eb-9ccf-16e31b883278.png)

I think that project type(what do you have) is there:
![image](https://user-images.githubusercontent.com/1572963/119317460-cad93380-bc80-11eb-98c4-c05c7588866d.png

[2021-05-24 13:35] rawong215 commented on #458
The issue is not with the commit message having the proper format of the time log entry.  It is properly entered in the comment as #time 3h.  The time does register properly after the commit in the branch within the Jira issue.  The issue here is if there is development work under a branch with time log entries appearing in the Jira issue as commits.  If suddenly the work the branch is deemed not

[2021-05-25 05:16] rachellerathbone commented on #415
When I created my Jira site I went to https://www.atlassian.com/software/jira, clicked 'Get it free' then followed the prompts. This allows be to create projects that are either 'team-managed software' or 'company-managed software'.

[2021-05-25 09:25] astleychen commented on #292
It seems broken lately and looks like a regression as it worked before(5~7 days ago).

Steps to reproduce:
1. Create a merge commit for PR
2. Keep the merge commit title as is, e.g. `Merge pull request #<issue> from username/repo`
3. Edit commit description with Smart Commit syntax. For example: `JIRA-1234 #close commit body`

It can close Jira issue if you create a normal commit with exactly same

[2021-05-25 10:15] astleychen commented on #292
@rachellerathbone Could this be a regression from recent changes on https://github.com/integrations/jira/pull/456 ?

[2021-05-25 11:58] mboudreau commented on #292
I'm reopening this so we can investigate, but yeah, very possible that there's a regression because of a bad merge.  We'll have to add some tests on this so it doesn't happen again.  Thanks for letting us know.

[2021-05-25 16:04] richward1 commented on #462
Thank you, that's great to hear :)

[2021-05-25 16:04] #462 closed

[2021-05-25 22:19] rachellerathbone commented on #292
Hey @astleychen. Outside of some linting and tests, the only real change to this was the addition of the MERGE_COMMIT flag. This flag allows Jira to differentiate between merge commits and regular commits. I'm fairly new to Atlassian but I'm guessing this might be intended behaviour in Jira. I'd need to follow-up with some people who work on Jira but, given the minor change that was introduced, it

[2021-05-26 01:52] astleychen commented on #292
@rachellerathbone Thanks for your feedback. #456 provided a good way to distinguish type of commits in Jira, I totally agree to keep this functionality as is.

I've been using GitHub/Jira integration app and leveraging this feature(closing issue after PR merged) for months. Pretty sure it's a regression from recent changes. From my tests, parsing a multi-line `merge commit` message seems to be bro

[2021-05-26 02:54] rachellerathbone commented on #292
@astleychen I confirmed with the team that this is the expected behaviour for merge commits with Jira. Adding the `MERGE_COMMIT` flag actually fixed what would be considered a bug. Jira only allows for the transitioning of tickets for regular commits as a merge commit may have a multiple parents, each of which could reference multiple Jira issues. The implementation of blocking transitioning for m

[2021-05-26 04:26] astleychen commented on #292
@rachellerathbone Thanks for your clarification on this intended behavior change.
In our current workflow, when we start a new task, we will create a Jira issue to track task progress and provide update through Smart Commit. When a pull request is reviewed and able to merge on GitHub, it will be merged by creating a merge commit with commit message as below:

[code]

The first line is automaticall

[2021-05-27 05:35] rachellerathbone commented on #292
@astleychen I've added the 'to triage' label so that my team knows more discussion is needed around this. We'll keep you posted.

[2021-05-31 00:24] ezhapa opened #469 "{{pullRequest.destinationBranch}} smart value is not working as expected in Automation for Jira"
Seems like there is a bug with how GitHub responds to 'Automation for Jira' for the {{pullRequest.destinationBranch}} smart value.
Basically, the {{pullRequest.destinationBranch}} smart value is expected to return the name of the destination branch but is actually returning the URL.
Whilst the {{pullRequest.destinationBranch.url} smart value which should be printing the URL, is actually returning

[2021-05-31 22:36] snatvb commented on #415
Hi @rachellerathbone,

I created new project by Scrum and it works!
![image](https://user-images.githubusercontent.com/1572963/120246646-7e41b980-c279-11eb-98b7-08523addd342.png)

I think it has to do with the type of template project. I will update review comment for this App for JIRA.

Thank you!

[2021-06-01 04:39] rachellerathbone commented on #415
That's great news @snatvb. Sorry you had so many issues getting this set up and working.

Is there anything else I can help with? If not, I'll go ahead and close this issue out.

[2021-06-01 10:49] snatvb commented on #415
Hi @rachellerathbone,

I am not alone with this problem. I think this solution case must be in FAQ.
I don't have any questions. Thank you a lot. You really help me.
This issue can be closed.

[2021-06-01 23:42] rachellerathbone commented on #415
So happy that I was able to help.

I'll do some poking around to see who owns the FAQs to see if we can get that updated. I'll also chat with my team to see if there's a way we can better communicate the setup from the GitHub for Jira app.

[2021-06-01 23:42] #415 closed

[2021-06-01 23:52] rachellerathbone commented on #415
@snatvb I've flagged this with my team. We are going to look into adding a support/FAQ/troubleshooting section to our app to better help our customers when they find themselves in situations such as yours.

[2021-06-02 12:26] samkhamk opened #477 "JIRA load testing"
Hello There,

First of all I am sorry this is not a issue but I need information,

1. **GitHub for Jira** & **Jira GitHub Integration** are two separate thing or the same,
2. also I want to know how this integration will impact JIRA's performance, or can we monitor that performance within JIRA or we need to use tools like jmeter, etc.

Can you please guide me where I can get much information about

[2021-06-02 14:49] pkania commented on #292
We, too, have depended on this now broken feature. We only want to #resolve issues once the changes have been merged into a "public" branch. We *only* add the smart tags to merge commits. If someone does not want the transition to occur because of a change in a parent commit, then don't put the transition tag in the parent commit (you can use #comment for example). Or amend the commit with a new m

[2021-06-03 02:44] mboudreau commented on #292
@pkania Thanks for letting us know.  We'll re-assess the functionality soon.

[2021-06-04 02:13] rachellerathbone commented on #292
Hey @pkania. Apologies that this bugfix has removed functionality you were relying on.

Just wanted to update you and let you know that we are actively investigating how to solve this so we can support the intended functionality (current implementation) as well as the functionality that our customers adopted into their regular workflows for merging.

[2021-06-07 13:54] rawong215 commented on #458
Hello, has there been any updates? Thx.

[2021-06-07 13:55] EduSemensati commented on #181
Since @SimplesSimon did not come back to it, let me add my perspective:

We have not yet experimented with the on-behalf commit syntax. At this point, changing local git configs to use our corporate domain address is part of our instructions for how our GitHub users can enable SmartCommits in Jira.

However, this is an extra step which a lot of users are either (1) not going through or (2) having

[2021-06-07 17:36] felixveysseyre opened #486 "Feature request: Pull request approved"
Hi !

Just as an automation already exists for when a pull-request is declined, it would be nice to trigger action when a pull-request is approved.

Does this feature is already part of your roadmap ?

Thanks !

[2021-06-07 17:42] felixveysseyre opened #487 "Trigger an action when a new release is created on GitHub"
Hi !

It would be nice being able to trigger an action when a new release is created on GitHub.

Does this feature is already part of your roadmap ?

Thanks !

[2021-06-07 17:45] felixveysseyre opened #488 "Question / feature request concerning action triggering from PR message"
Hi !

Is it possible to trigger action, such as it's done with smart commit message, but directly from the message posted in a pull-request thread ? It would be so useful for some cases 🤯

Thanks !

[2021-06-09 10:57] KatjaWass commented on #411
@rachellerathbone
Any progress here / eta for when expected ownership has been transferred?
I have a bunch of developer who is terrible frustrated about the missing functionality.

I've found this in Atlassian long term backlog and low priority and long term doesn't sound promising.
https://github.com/integrations/jira/issues/411

[2021-06-10 06:15] Neoware-ai commented on #206
Yep it still exists

[2021-06-10 13:56] davidshopback commented on #411
We tried adding every atlassian IP listed [here](https://support.atlassian.com/organization-administration/docs/ip-addresses-and-domains-for-atlassian-cloud-products/) into the allow list, it did not help. Just in case someone wanted to try it.

[2021-06-11 04:37] thombergs commented on #292
Hey @pkania and @astleychen,

sorry for the wait, we discussed this issue in the team. I would like to understand your use cases better and why the [Automation feature in Jira](https://community.atlassian.com/t5/Automation-articles/New-automation-triggers-across-Jira-Cloud-Bitbucket-GitLab-amp/ba-p/1337351#U1378603) isn't working for you. In our view, the Automation feature is more powerful and co

[2021-06-11 08:53] astleychen commented on #292
@thombergs Thanks for your valuable feedback. JIRA Automation rules is awesome (Sorry, I'm not that familiar with ALL Jira features) and totally fit our need. With that, we can have full control on actions whenever a PR is merged and even more. Now, we don't need to append #transition command in PR title as well as no need to create a named transition to trigger closing event. Appreciate for your

[2021-06-11 14:50] pkania commented on #292
@thombergs We do not use pull requests for all our repos. We use a different review process for some of our most important repos. Changes are merged into a public branch and pushed. The problem is that you no longer transition based on merge commits. Again, those are the only commits where we use the smart keywords in the commit messages.

A trigger like you suggest would require parsing the commi

[2021-06-13 19:01] mmatlik commented on #209
Hi @benoit-lateltin.

Sorry to bother, but is it still applicable in the latest version of Jira Cloud? Using Standard Plan, and as a Site Administrator - neither Jira Automation nor any Workflow triggers seem to list the rule for this transition. However, the transition is still made once the GitHub PR gets merged. Thank you.

[2021-06-15 03:52] thombergs commented on #488
Hi @felixveysseyre,

I would suggest Jira's Automation feature for this use case. With that, you can define triggers on different development events like "commit created" or "pullrequest created" and then [add conditions](https://support.atlassian.com/jira-software-cloud/docs/smart-values-development/) that evaluate certain fields on those events.

This might look something like this, then:

![ima

[2021-06-15 03:54] thombergs commented on #487
@felixveysseyre interesting idea. Can you elaborate a bit on what exactly you would want to trigger when a new release is created? What is your concrete use case? That would be interesting to know so we can evaluate if this is something we'll want to follow up on.

[2021-06-15 04:02] thombergs commented on #292
@pkania this would actually be possible with Jira's Automation. You can add a condition to check if the commit is a merge commit and another condition to check if a certain keyword is included (the keyword will be found if it's in the first 50 characters of the commit message, I believe):

![image](https://user-images.githubusercontent.com/1363578/121990856-d92ef100-cde1-11eb-98ad-bf6fb7090474.png

[2021-06-15 12:30] felixveysseyre commented on #487
@thombergs thank you for your answer !

My Jira issue status workflow looks like this, `Todo` > `InProgress` > `InReview` > `Done` > `Released`

The transition from `InReview` To `Done` is handled by Jira automation when the associated pull-request is merged.
When a release is created on GitHub, I would like to transition all Jira tickets with `Done` status, to the`Released` status.

Does it make

[2021-06-15 12:54] felixveysseyre commented on #488
Hello @thombergs and thank you for your answer !

I think both the `commitCreated` nor the `pullRequestCreated` events fit my needs.

Let me give you some context here and let's say my Jira status issue workflow is: `Todo` > `InReview` > `ReadyForQA` > `Done`.
The `Todo` to `InReview` status transition is already handled by an automation when a pull-request is created.
The `ReadyForQA` to `Done` s

[2021-06-17 19:14] #186 closed

[2021-06-18 02:21] mboudreau commented on #411
Hi everyone,

The team at Atlassian is working on this as we transition the integration from being Github owned to Atlassian owned.  At the current moment, the integration domain does currently hold a static IP address and can change at any time.  We are currently working on a solution for this and will update the information in the Github app's IP allow list when we have it available, which shoul

[2021-06-18 07:03] KatjaWass commented on #411
@mboudreau

This is really good news. Looking forward to hear more and if possible an approx timeline for releasing the fix would be highly appreciated.

Have a good weekend.

[2021-06-18 14:10] benoit-lateltin commented on #209
Hello @mmatlik,

I'm not sure, I think you should directly contact Atlassian or Github support teams.

[2021-06-18 14:17] cristianooliveira commented on #119
Hi! @rachellerathbone do you have more news for us? https://github.com/integrations/jira/pull/448 seems to be stale. Would be awesome to have this feature 🙏

[2021-06-20 08:29] doring7 opened #495 "[GitHub API] Update your access token to the new format"
Github asks me to update my token.
How can I do this in JIRA when I have done this ?

https://github.blog/2021-04-05-behind-githubs-new-authentication-token-formats/

[2021-06-21 16:11] dimitarcl commented on #495
I want to know the same.

The email says :

But I can't see anything in JIRA or GitHub that seems that it would trigger the reset token API.

I guess, I can remove and reinstall the integration, but I prefer to avoid that if possible.

[2021-06-22 01:22] mboudreau commented on #495
I find it really weird that Github is sending an email to you, the users about this integration since it should be the owners that would need to update things.

Either way, the good news about this integration is that we _do not store any kind of github auth tokens anywhere_. Hence we have nothing to update.  The only auth token used is when you first install the app where there's an oauth flow to

[2021-06-22 01:22] #495 closed

[2021-06-22 13:17] JadedEvan commented on #391
Just wanted to chime in on this - my organization is currently facing the same issue. Symptomatically this seems to be a 404 response from Github when requests are made from Jira (OP's screenshot shows this). Atlassian had responded to me saying there might be a null OAuth ID on Github's side.

I have contacted both Atlassian and Github - they both pointed the finger at each other and said to ask

[2021-06-22 13:30] mboudreau commented on #391
For those having the issue, are you using GitHub Enterprise? The only other reason I can think of is that the app doesn't have the permissions needed to do its job. Could you please get your GitHub org admin to check that the permissions are up to date for the app?

Thanks.

[2021-06-28 06:02] thombergs commented on #488
Hey @felixveysseyre I'll mark this as a feature request to be evaluated at some point. Thanks for the idea!

[2021-06-30 09:52] iwt-twirth commented on #354
I think there is just the one problem that according to the `conventional-commits` v1.0.0 specification a reference in the footer has to correspond with the form:
`<word-token> #<reference>` or `<word-token>: <reference>`

Where *word-token* is a single word or multiple words separated by `-`.

According to the spec I think a valid footer should look as follows: `Jira-Ticket: PRO-123`
Will this st

[2021-06-30 11:11] gazal-k commented on #354
Sorry, I guess I hadn't followed up on this in a while.

Yes, the linking from Jira works. But the link back from GitHub to Jira seems to only work when the Jira id is in `[]`. Like `re [JIRA-123]` as opposed to `re #JIRA-123`.

[2021-07-05 11:27] dududko opened #520 "bug: JIRA bot corrupt the comment to PR"
When I leave the following comment to PR `[<JIRA-ticket>]: hello world` the JIRA bot changes it to `No description provided.`

It only happen when the comment message start with the link to the ticket, followed by semicolon and text.

[2021-07-08 18:22] drewpink commented on #205
@rachellerathbone any updates?  I'm attaching just one of our Github repos to Jira Cloud and no issues are showing up.

[2021-07-08 22:36] rachellerathbone commented on #205
Hi @drewpink. Unfortunately not at this point. We're still in the process of migrating this app ovee from the team at GitHub but, while we're getting closer to the finish line, there's still at least several weeks of work remaining. That said, once it's done, tackling issues and features in our backlog will be in full swing.

[2021-07-08 22:38] drewpink commented on #205
Okay, thanks for the timely reply.

[2021-07-14 00:00] rachellerathbone commented on #520
Hi @dududko. I've tried reproducing the issue you are having but am unable to do so. When I enter [<JIRA-ticket>]: hello world as a comment for a PR I see the intended behaviour.

<img width="302" alt="Screen Shot 2021-07-14 at 9 59 00 am" src="https://user-images.githubusercontent.com/37155488/125540205-9735865e-871c-4d9d-b493-4225ac93aa17.png">

Could you please provide steps to reproduce and, w

[2021-07-14 05:31] reececomo opened #532 "Boards with numbers do not link (e.g. A11Y-123)"
It appears automations for linking issues in pull request description don't work for a couple of our Jira boards that have numbers in them: A11Y (Accessibility) and I18N (Internationalization). It works great for our other boards though 👍

I would guess there's a regex somewhere that is assuming all boards are letters only?

Thanks! Let me know if we've just set it up incorrectly.

[2021-07-14 05:53] rachellerathbone commented on #532
Hey @reececomo. I have some good news. The team at Atlassian is busy migrating this app over from the team at GitHub. Part of that has involved us essentially setting up a mirror image of the app in our own infrastructure. The other part has been making some improvements as we go: one of which is building a utilising a library to support issue keys that include numbers and lowercase characters 🎉

[2021-07-14 06:11] rachellerathbone commented on #486
Hi @felixveysseyre. The 3 pull request automations currently include what's seen in the below screenshot:

<img width="691" alt="Screen Shot 2021-07-14 at 4 09 09 pm" src="https://user-images.githubusercontent.com/37155488/125571661-0913143c-843b-424b-915d-dde5581f37d2.png">

Does merging the PR support the automation you are after? If not, I can try and point you to the right team to make a featu

[2021-07-14 06:15] rachellerathbone commented on #477
Hey @samkhamk.

1. Without links I can't be entirely sure what apps you're referencing (as there are a lot of GitHub apps in Jira) but this one is specifically the [GitHub for Jira](https://rachellerathbone.atlassian.net/plugins/servlet/ac/com.atlassian.jira.emcee/enduser-discover?project.key=TEST&project.id=10000#!/discover/app/com.github.integration.production) integration. This is the only GitH

[2021-07-14 06:18] rachellerathbone commented on #214
As it has been almost 2 months with no response, closing this issue.

[2021-07-14 06:18] #214 closed

[2021-07-14 06:18] rachellerathbone commented on #315
As it has been almost 2 months with no response, closing this issue.

[2021-07-14 06:18] #315 closed

[2021-07-14 06:19] rachellerathbone commented on #320
As it has been almost 2 months with no response, closing this issue.

[2021-07-14 06:19] #320 closed

[2021-07-14 06:19] rachellerathbone commented on #352
As it has been almost 2 months with no response, closing this issue.

[2021-07-14 06:19] #352 closed

[2021-07-14 06:20] rachellerathbone commented on #369
As it has been almost 2 months with no response, closing this issue. Please feel free to reopen if needed.

[2021-07-14 06:20] #369 closed

[2021-07-14 06:21] rachellerathbone commented on #378
As it has been almost 2 months with no response, closing this issue. Please feel free to reopen if needed.

[2021-07-14 06:21] #378 closed

[2021-07-14 06:21] rachellerathbone commented on #408
As it has been almost 2 months with no response, closing this issue. Please feel free to reopen if needed.

[2021-07-14 06:21] #408 closed

[2021-07-14 06:21] rachellerathbone commented on #477
As it has been almost 2 months with no response, closing this issue. Please feel free to reopen if needed.

[2021-07-14 06:21] #477 closed

[2021-07-14 06:24] rachellerathbone commented on #247
We've updated logging in the new version of the app that will be released once the app transfer from GitHub to Atlassian is complete. Closing this issue as the work is now done.

[2021-07-14 06:24] #247 closed

[2021-07-14 23:07] joelbarker2011 commented on #372
Experiencing this issue multiple times now in the last few days. It always worked flawlessly before and we have not changed our process at all. Very annoying since we have certain Jira actions that are supposed to be triggered when a pull request is closed, but these are not firing since Jira thinks the PR was declined instead.

[2021-07-15 02:55] mboudreau commented on #372
@joelbarker2011 There's only one place where this status is set and it's [here](https://github.com/integrations/jira/blob/58fbd9f8538d21e4e1fdc04c092058bcfdcb515a/lib/transforms/pull-request.js#L13): `if (status === 'closed' && !merged) return 'DECLINED';`

We're basing this functionality on the [Github Event Payload documentation](https://docs.github.com/en/developers/webhooks-and-events/webhooks

[2021-07-16 17:32] smckinney1 commented on #182
I would also love to see Draft PRs treated differently for the JIRA integration!

[2021-07-19 08:08] melvyn-oviavo opened #537 "Access to Actions and Deployments"
I do not wish to give Jira access to the above. What are the consequences of that? Does it affect existing functionality?

[2021-07-19 08:20] mboudreau commented on #537
Hi @melvyn-oviavo,

There's absolutely no consequences to not add the new permissions other than the new feature - build & deployment statuses - won't show in Jira.

That being said however, any new functionality in the future that might need a new permission will force you to update _all_ permissions unless you plan on never updating it ever again.  This is not our choice, its just how Github app

[2021-07-19 08:23] AlonShenkler commented on #537
It does answer the question for me.
I suggest updating the README.MD with the new permission request as well, as it does not mention it yet:
![image](https://user-images.githubusercontent.com/77152397/126127468-43971dc1-b558-42b9-998e-fa42b50c83d3.png)
Thanks!

[2021-07-19 08:24] thombergs commented on #537
To elaborate on the new feature: we just introduced support for sending builds and deployments into Jira (which will be visible in Jira's issue view, or the relatively new deployments view, for example). So if you don't provide these permissions, the only effect will be that you won't see builds and deployments originating from GitHub Actions in Jira.

Sorry, we haven't updated the docs around tha